<div class="modal fade" id="obraModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modalDetalleInfo" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nueva obra</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3 col-sm-12 col-xs-12 refItem">
            <p>Datos por ingresar</p>
            <ul>
              <!-- <li><a class="linkModal" href="#info"><div class="ic-title ic-modal-info"></div> Información inicial <i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i></a></li>
              <li><a class="linkModal" href="#fechas"><div class="ic-title ic-modal-fechas"></div> Fechas/Hitos <i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i></a></li>
              <li><a class="linkModal" href="#presupuesto"><div class="ic-title ic-modal-presupuesto"></div> Presupuesto <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i></a></li>
              <li><a class="linkModal" href="#ubicacion"><div class="ic-title ic-modal-ubicacion"></div> Ubicación <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i></a></li>
              <li><a class="linkModal" href="#expediente"><div class="ic-title ic-modal-expediente"></div> Expedientes <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i></a></li> -->

              <li><a class="linkModal" href="#info"><div class="ic-title ic-modal-info"></div> Información inicial </a></li>
              <li><a class="linkModal" href="#fechas"><div class="ic-title ic-modal-fechas"></div> Fechas/Hitos </a></li>
              <li><a class="linkModal" href="#presupuesto"><div class="ic-title ic-modal-presupuesto"></div> Presupuesto </a></li>
              <li><a class="linkModal" href="#ubicacion"><div class="ic-title ic-modal-ubicacion"></div> Ubicación </a></li>
              <li><a class="linkModal" href="#expediente"><div class="ic-title ic-modal-expediente"></div> Expedientes </a></li>
            </ul>
          </div>
          <div class="col-md-9 col-sm-12 col-xs-12">
               <form role="form">
                <div class="col-md-12 agrupador">
                <a class="nameLinkModal" name="info">
                    <div class="ic-title ic-infoInicial"></div>&nbsp;Información inicial de la Obra
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="name" maxlength="512" ng-model="obraCtrl.currentObra.nombre" placeholder="Ingresar nombre" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="descripcion de la obra">Descripción de la obra</label>
                            <textarea class="form-control" rows="3" ng-model="obraCtrl.currentObra.descripcion"></textarea>
                        </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6 col-sm-12">
                        <label for="tipo de obra">Tipo de obra</label>
                        <select class="form-control" ng-model="obraCtrl.selectedTipo"
                          ng-options="item as item.nombre for item in obraCtrl.tiposObra">
                        </select>
                      </div>
                      <div class="form-group col-md-6 col-sm-12">
                        <label for="tipo de obra">Subtipo de obra</label>
                        <select class="form-control" ng-model="obraCtrl.selectedSubTipo"
                          ng-options="item as item.nombre for item in obraCtrl.selectedTipo.subtiposObra">
                        </select>
                      </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="referentes">Referentes de ejecución</label>
                            <input type="text" class="form-control" id="name" maxlength="512" ng-model="obraCtrl.currentObra.referenteEjecucion" value="{{obraCtrl.currentObra.referenteEjecucion}}" placeholder="Ingresar nombre del referente" required>
                        </div>
                    </div>
                    </a>
                </div>
                <br>
                <div class="col-md-12 agrupador">
                <a class="nameLinkModal" name="fechas">
                    <div class="ic-title ic-fechas"></div>&nbsp;Fechas/Hitos
                    <div class="row">
                      <div class="col-md-12">
                        <div class="table-responsive">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Hito de obra</th>
                                <th>Fecha inicio</th>
                                <th>Fecha fin</th>
                                <th>Eliminar</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="hito in obraCtrl.currentObra.hitos">
                                <td><input type="text" class="form-control" ng-model="hito.nombre" ng-disabled="hito.nombre === 'AnteProyecto' || hito.nombre === 'Licitacion' || hito.nombre === 'Ejecucion'" required/></td>
                                <td>
                                  <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="obraCtrl.datePickersInicio[$index].status"  close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="hito.fechaInicio" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="obraCtrl.handlePickerInicio($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="obraCtrl.datePickersFin[$index].status"  close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="hito.fechaFin" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="obraCtrl.handlePickerFin($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </div>
                                </td>
                                <td class="iconTable"><i class="glyphicon glyphicon-remove" title="Eliminar" ng-if="hito.nombre !== 'AnteProyecto' && hito.nombre !== 'Licitacion' && hito.nombre !== 'Ejecucion'" aria-hidden="true" ng-click="obraCtrl.removeHito($index)"></i></td>
                              </tr>
                              <!-- <tr>
                                <td>Licitación y adjudicación</td>
                                <td>
                                  <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="obraCtrl.datePickerInicioLicitacion.status"  close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="obraCtrl.currentproject.fechaInicio" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="obraCtrl.openPickerInicioLicitacion()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </p>
                                </td>
                                <td>
                                  <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="obraCtrl.datePickerFinLicitacion.status"  close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="obraCtrl.currentproject.fechaInicio" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="obraCtrl.openPickerFinLicitacion()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </p>
                                </td>
                              </tr>
                              <tr>
                                <td>Ejecución</td>
                                <td>
                                  <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="obraCtrl.datePickerInicioEjecucion.status"  close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="obraCtrl.currentproject.fechaInicio" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="obraCtrl.openPickerInicioEjecucion()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </p>
                                </td>
                                <td>
                                  <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="obraCtrl.datePickerFinEjecucion.status"  close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="obraCtrl.currentproject.fechaInicio" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="obraCtrl.openPickerFinEjecucion()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </p>
                                </td>
                              </tr> -->
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-12">
                            <button id="buttonHito" type="button" class="btn btn-default" ng-click="obraCtrl.addHito()">
                              <div class="icNew" title="Agregar"></div>
                              <span>Nuevo hito</span>
                            </button>
                        </div>
                    </div>
                    </a>
                </div>
                <br>
                <div class="col-md-12 agrupador">
                <a class="nameLinkModal" name="presupuesto">
                    <div class="ic-title ic-presupuesto"></div>&nbsp;Presupuesto
                    <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-4 add-line">
                          <label for="año">Año</label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 add-line">
                          <label for="fondo solicitado GCBA" style="padding-left: 24px;">Fondo solicitado</label>
                        </div>
                      </div>
                      <div ng-repeat="p in obraCtrl.currentObra.presupuestosPorAnio">
                        <div class="row">
                          <div class="form-group col-md-2 col-sm-2 col-xs-4 add-line">
                            <input type="text" class="form-control" id="year" disabled="true" value="{{p.anio}}">
                          </div>
                          <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                          <div class="form-group col-md-4 col-sm-4 col-xs-4 add-line">
                            <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 0' maxlength="15" class="form-control" ng-model="p.presupuesto" value="{{p.presupuesto}}" id="presupuestoObra" ng-change="obraCtrl.getTotalBudget()">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-2 col-sm-2 col-xs-4 totalPresupuesto">
                          <label for="subtotal">TOTAL</label>
                        </div>
                        <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                        <div class="form-group col-md-4 col-sm-4 col-xs-4">
                          <input type="number" class="form-control" id="meta" disabled="disabled" ng-model="obraCtrl.totalBudget">
                        </div>
                      </div>
                      </a>
                </div>
                <br>
                <div class="col-md-12 agrupador">
                <a class="nameLinkModal" name="ubicacion">
                  <div class="ic-title ic-ubicacion"></div>&nbsp;Ubicación
                    <div class="row">
                      <div class="form-group col-md-12">
                          <label for="tipo de proyecto">Tipo de ubicación</label>
                          <div class="radio">
                              <label for="optionsRadios1" class="option">
                                  <input type="radio" name="tipoUbicacion" ng-model="obraCtrl.tipoUbicacion" ng-value="'direccion'" ng-init="obraCtrl.tipoUbicacion = 'direccion'"/>
                                  Dirección
                              </label>
                              <label for="optionsRadios2" class="option">
                                  <input type="radio" name="tipoUbicacion2" ng-model="obraCtrl.tipoUbicacion" ng-value="'tramo'"/>
                                  Tramo
                              </label>
                              <label for="optionsRadios3" class="option">
                                  <input type="radio" name="tipoUbicacion3" ng-model="obraCtrl.tipoUbicacion" ng-value="'otro'"/>
                                  Otro
                              </label>
                          </div>

                      </div>
                      <div class="form-group col-md-6" ng-hide="obraCtrl.tipoUbicacion === 'otro'">
                        <label for="referentes">Dirección o intersección origen</label>
                        <input type="text" class="form-control" ng-model="obraCtrl.currentObra.direccion" id="direccionOrigen" name="direccion" maxlength="512" placeholder="Ingresar dirección" required="">
                      </div>
                      <div class="form-group col-md-6" ng-hide="obraCtrl.tipoUbicacion === 'otro' || obraCtrl.tipoUbicacion === 'tramo'">
                        <label for="referentes">Piso/Depto/otro <span class="opcional">(Opcional)</span></label>
                        <input type="text" class="form-control" ng-model="obraCtrl.currentObra.detalleUbicacion" id="pisoOrigen" maxlength="512" placeholder="Ingresar número" required="">
                      </div>
                      <div class="form-group col-md-6" ng-show="obraCtrl.tipoUbicacion === 'tramo'">
                        <label for="referentes">Dirección o intersección destino</label>
                        <input type="text" class="form-control" id="direccionDestino" ng-model="obraCtrl.currentObra.direccionHasta" name="direccion" maxlength="512" placeholder="Ingresar dirección" required="">
                      </div>
                      <div class="form-group col-md-6" ng-show="obraCtrl.tipoUbicacion === 'otro'">
                        <label for="referentes">Detalle de ubicación</label>
                        <textarea class="form-control" placeholder="Ingresar detalle de ubicación" ng-model="obraCtrl.currentObra.detalleUbicacion" required=""></textarea>
                      </div>
                      <div class="form-group col-md-6" ng-show="obraCtrl.tipoUbicacion === 'otro'">
                          <label for="comunas">Comunas</label>
                          <select class="form-control" ng-model="obraCtrl.currentObra.comuna"
                            ng-options="item as item.nombre for item in obraCtrl.comunas">
                          </select>
                      </div>
                      <div class="col-md-12" id="mapa"></div>
                    </div>
                    </a>
                  </div>
                <br>
                <div class="col-md-12 agrupador">
                <a class="nameLinkModal" name="expediente">
                    <div class="ic-title ic-expediente"></div>&nbsp;Expedientes <span class="opcional">(Opcional)</span>
                    <div class="row" ng-repeat="expediente in obraCtrl.currentObra.expedientes">
                      <div class="form-group col-md-5 col-sm-12 col-xs-12">
                        <label for="referentes">Descripción</label>
                        <input type="text" class="form-control" id="descripcion" ng-model="expediente.descripcion" maxlength="512" placeholder="Ingresar descripcion" required="">
                      </div>
                      <div class="form-group col-md-2 col-xs-3 col-xs-3">
                        <label for="referentes">Sigla</label>
                        <input type="text" class="form-control" id="sigla" maxlength="512" placeholder="" required="" ng-model="expediente.sigla">
                      </div>
                      <div class="form-group col-md-2 col-xs-3 col-xs-3">
                        <label for="referentes">Numero</label>
                        <input type="text" class="form-control" id="sigla" maxlength="512" placeholder="" required="" ng-model="expediente.numero">
                      </div>
                      <div class="form-group col-md-2 col-xs-3 col-xs-3">
                        <label for="referentes">Año</label>
                        <input type="text" class="form-control" id="sigla" maxlength="512" placeholder="" required="" ng-model="expediente.anio">
                      </div>
                        <i class="glyphicon glyphicon-remove" aria-hidden="true" title="Eliminar" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar" ng-click="obraCtrl.removeExpediente($index)"></i>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                            <button id="buttonHito" type="button" class="btn btn-default"  ng-click="obraCtrl.addExpediente()">
                              <div class="icNew" title="Agregar"></div>
                              <span>Agregar expediente</span>
                            </button>
                        </div>
                    </div>
                    </a>
                </div>
                <br>
            <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" ng-click="obraCtrl.saveObra()">Guardar obra</button>
            <button type="button" class="btn btn-default right btnRemove" data-dismiss="modal" ng-click="obraCtrl.removeObra()" ng-if="obraCtrl.currentobraid">Eliminar</button>
            <button type="button" class="btn btn-default right" ng-click="obraCtrl.closeModal()" data-dismiss="modal"  >Cancelar cambios</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
