#perfil
spring.profiles.active=prod

#Security
security.user.password=esteban
security.endpoint=http://10.9.3.15/webservice/validar.php
security.request.email=email
security.request.password=clave
security.request.operation=validar
security.jwt.expirationTime.hours=24
security.jwt.issuer=proyectosBA-DS
security.cors.mappings=/**
security.cors.origins=*

#Logging
logging.level.org.springframework.security=INFO

#ESB
esb.producer.timeout=10000
esb.producer.replyToDestination=esb.response.queue
esb.producer.destination=esb.request.queue
esb.jmsTemplate.topic=false
esb.pooledConnection.clientID=pbaDS-clientId
esb.pooledConnecttion.brokerURL=tcp://localhost:61616


#download archivo de importacion
download.template.proyecto.file = template.xlsx
download.template.proyecto.path = /etc/pba/ds/${download.template.proyecto.file}

#Path download archivos adjuntos
download.archivos.proyecto.path = /var/pba/adjuntos/idJurisdiccion/idProyecto/
