#perfil
spring.profiles.active=prod

#Security
security.user.password=esteban
security.endpoint=http://10.9.3.15/webservice/validar.php
security.request.email=email
security.request.password=clave
security.request.operation=validar
security.jwt.expirationTime.hours=4
security.jwt.issuer=proyectosBA-DS
security.cors.mappings=/**
security.cors.origins=*

#Logging
logging.level.org.springframework.security=INFO

#ESB
esb.producer.timeout=120000
esb.producer.replyToDestination=esb.response.queue
esb.producer.destination=esb.request.queue
esb.jmsTemplate.topic=false
esb.pooledConnection.clientID=pbaDS-clientId
esb.pooledConnecttion.brokerURL=tcp://localhost:61616


#download archivo de importacion
download.template.proyecto.file = template.xlsx
download.template.proyecto.path = /etc/pba/ds/${download.template.proyecto.file}

#Path download archivos adjuntos
download.archivos.proyecto.path = /var/pba/adjuntos/idJurisdiccion/idProyecto/

#Path para guardar temporalmente los archivos con errores de importacion
save.archivos.proyecto.error.path = /var/pba/archivos/idJurisdiccion/

# definir las propiedades para el Json de configuracion clave valor separadas por ";" ej: nombre;esteban;apellido;pepe
configs.key.value=captcha;6LcSLyoTAAAAAN4zBx2nuOKIUwdQ0G1ZINLiqOkG

#Path para el archivo template para la exportacion
exportacion.archivos.proyecto.path = /etc/pba/ds/template_exportacion_priorizacion.xlsx

#Configuracion tamaño de archivos
#spring.http.multipart.max-file-size=15MB
#spring.http.multipart.max-request-size=15MB
multipart.max-file-size=15MB
multipart.max-request-size=15MB
