<div class="pageContanerCustom">
  <div class="item page pagePriorizacion">
    <div class="row">
       <div class="col-md-12">
          <span class="title-year">Plan 2017</span>
        </div>
        <div class="col-md-12" id="notifications">
          <hr class="lineColor">
        </div>
      <div class="col-md-12 floatContent">
          <p class="title">Resumen de proyectos</p>
          <div class="alert alert-info" style="margin-bottom: 15px;">Los proyectos en estado borrador no se incluyen en la priorización por no haber sido formalmente presentados.</div>
          <div class="contet-report">
            <strong ng-if="priorizationCtrl.dataResult.Presentado">{{priorizationCtrl.dataResult.Presentado}}</strong>
            <strong ng-if="!priorizationCtrl.dataResult.Presentado">-</strong>
            <p>Proyectos presentados</p>
          </div>
          <div class="contet-report">
            <strong ng-if="priorizationCtrl.dataResult.Verificado">{{priorizationCtrl.dataResult.Verificado}}</strong>
            <strong ng-if="!priorizationCtrl.dataResult.Verificado">-</strong>
            <p>Proyectos verificados</p>
          </div>
          <div class="contet-report" disabled>
            <strong ng-if="priorizationCtrl.dataResult.EnPriorizacion">{{priorizationCtrl.dataResult.EnPriorizacion}}</strong>
            <strong ng-if="!priorizationCtrl.dataResult.EnPriorizacion">-</strong>
            <p>Proyectos en priorización</p>
          </div>
      </div>
      <div class="col-md-12 floatContent">
          <div class="principalBtn">
            <button type="button" ng-disabled="priorizationCtrl.dataResult.EnPriorizacion === '0' && priorizationCtrl.dataResult.Verificado === '0' && priorizationCtrl.dataResult.Presentado === '0'" class="btn btn-default" ng-click="priorizationCtrl.downloadExcelPriorization()">Descargar Excel de priorización</button>
            <button type="button" class="btn btn-default" ui-sref="priorization.upload" ng-if="priorizationCtrl.dataResult.EnPriorizacion !== '0'">Importar proyectos</button>
            <button type="button" ng-if="priorizationCtrl.dataResult.EnPriorizacion !== '0'" class="btn  btn-default right" ng-click="priorizationCtrl.cancelPriorization()">Cancelar priorización</button>
          </div>
       </div>
    </div>
  </div>
</div>
