<li id="projectFormID" class="viewProject">
  <div class="contentNewProyect">Vista proyecto</div>
  <div class="col-md-12 contentFormProyect" id="alertmodalcomponent">
    <div class="col-md-3 col-sm-12 col-xs-12 pull-right contentAction" id="moveprojectid">
      <div class="contentProgress content-actionForm">
        <div class="titleProgress">Progreso de creación</div>
        <div class="row">
          <div class="c100 p{{formCtrl.percentForm}} centerProgress coloGreen">
            <span>{{formCtrl.percentForm}}%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
        </div>
        <div class="dataProgress">{{formCtrl.countForm}}</div>
      </div>
      <div class="dropdown content-actionForm estateView">
        <span>Estado:</span>
        <span class="estateClass ng-binding" ng-class="{'completoClass' : formCtrl.currentProject.estado === 'Completo', 'incompletoClass' : formCtrl.currentProject.estado === 'Incompleto', 'presentadoClass' : formCtrl.currentProject.estado === 'Presentado', 'verificadoClass' : formCtrl.currentProject.estado === 'Verificado', 'canceladoClass' : formCtrl.currentProject.estado === 'Cancelado', 'preAprobadoClass' : formCtrl.currentProject.estado === 'Pre Aprobado', 'aprobadoClass' : formCtrl.currentProject.estado === 'Aprobado', 'aplazadoClass' : formCtrl.currentProject.estado === 'Demorado', 'rechazadoClass' : formCtrl.currentProject.estado === 'Rechazado', 'enPriorizacionClass' : formCtrl.currentProject.estado === 'En Priorización'}">{{formCtrl.currentProject.estado}}</span>
      </div>
      <div class="col-md-12">
        <hr class="line-inner-proyect">
      </div>
      <div class="formEstado col-sm-12 col-xs-12">
        Estado
        <div class="form-group">
          <label for="tipo de ubicacion">Prioridad jefatura</label>
          <p>{{formCtrl.currentProject.prioridadJefatura}}</p>
        </div>
        <div class="form-group">
          <label for="presupuesto">Presupuesto aprobado total</label>
          <p><i ng-if="formCtrl.currentProject.totalPresupuestoAprobado" class="glyphicon glyphicon-usd" aria-hidden="true"></i> {{formCtrl.currentProject.totalPresupuestoAprobado}} </p>
        </div>
      </div>

      <div class="dropdown content-actionForm contentButtonRight">
        <!--<button type="button" class="btn btn-default fullButtonRight">Modificar proyecto</button>-->
        <button type="button" class="btn btn-default fullButtonRight" ng-click="formCtrl.cancelView()">Cerrar</button>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-md-12">
          <label for="nombre">Etiquetas aplicadas</label>
        </div>
        <div class="form-group col-md-12">
          <div class="containerLabels">
            <div class="labelStyle" ng-repeat="label in formCtrl.currentProject.temasTransversales"><span>{{label.temaTransversal}}</span></div>
            <div class="labelStyle" ng-repeat="label in formCtrl.currentProject.compromisosPublicos"><span>{{label.compromisoPublico}}</span></div>
            <div class="labelStyle" ng-repeat="label in formCtrl.currentProject.otrasEtiquetas"><span>{{label.etiqueta}}</span></div>
          </div>
        </div>
      </div>
      <form role="form" id="principalForm" ng-submit="formCtrl.saveProject()">
        <div class="col-md-12 agrupador">
          <div class="ic-title ic-infoInicial"></div>
          &nbsp;Información inicial
          <div class="row">
            <div class="form-group col-md-12">
              <label for="nombre">Nombre</label>
              <p>{{formCtrl.currentProject.nombre}}</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12">
              <label for="descripcion del proyecto">Descripción del proyecto</label>
              <p>{{formCtrl.currentProject.descripcion}}</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-3 col-sm-6">
              <div></div>
              <label for="meta 2017">Meta 2017</label>
              <p>{{formCtrl.currentProject.meta}}</p>
            </div>
            <div class="form-group col-md-9 col-sm-12">
              <label for="unidad de la meta">Unidad de la meta</label>
              <p>{{formCtrl.currentProject.unidadMeta}}</p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12 agrupador">
          <div class="ic-title ic-presupuesto"></div>
          &nbsp;Fechas y presupuesto
          <div class="row">
            <div class="form-group col-md-5 col-sm-6">
              <label for="fecha de inicio">Fecha de inicio</label>
              <p>{{formCtrl.currentProject.fechaInicio | date:'MM/dd/yyyy'}}</p>
            </div>
            <div class="form-group col-md-5 col-sm-6">
              <label for="fecha de fin">Fecha de fin</label>
              <p>{{formCtrl.currentProject.fechaFin | date:'MM/dd/yyyy'}}</p>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-md-12">
                <label class="titlePresupuesto" for="presupuesto">Presupuesto desglosado año por año:</label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-12 add-line">
                <label for="año">Año</label>
              </div>
              <div class="col-md-4 col-sm-5 col-xs-11 add-line">
                <label for="fondo solicitado GCBA">Fondo solicitado GCBA</label>
              </div>
              <div class="col-md-4 col-sm-5 col-xs-11 add-line">
                <label for="fondo de otras fuentes">Fondo de otras fuentes</label>
              </div>
            </div>
            <div class="row" ng-repeat="p in formCtrl.currentProject.presupuestosPorAnio">
              <div class="form-group col-md-2 col-sm-2 col-xs-12 add-line">
                <p>{{p.anio}}</p>
              </div>
              <div class="form-group col-md-4 col-sm-5 col-xs-11 add-line">
                <p>
                  <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                  {{p.presupuesto}}
                </p>
              </div>
              <div class="form-group col-md-4 col-sm-5 col-xs-11 add-line">
                <p>
                  <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                  {{p.otrasFuentes}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-2 col-sm-2 totalPresupuesto">
                <label for="subtotal">SUBTOTAL</label>
              </div>
              <div class="form-group col-md-4 col-sm-5 subtotal">
                <p>
                  <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                  {{formCtrl.totalBudget}}
                </p>
              </div>
              <div class="form-group col-md-4 col-sm-5 subtotal">
                <p>
                  <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                  {{formCtrl.totalBudgetOtherSources}}
                </p>
              </div>
              <div class="col-md-10 contentClear">
                <hr style="margin: 0;">
                <div class="contentTotal">
                  <div class="form-group col-md-2 col-sm-2 totalPresupuesto">
                    <label for="total">TOTAL</label>
                  </div>
                  <div class="form-group col-md-8 col-sm-5 subtotal">
                    <p>
                      <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                      {{formCtrl.totalBudget + formCtrl.totalBudgetOtherSources}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12 agrupador">
          <div class="ic-title ic-poblacion"></div>
          &nbsp;Población
          <div class="row">
            <div class="form-group col-md-6 col-sm-12">
              <label for="cantidad de población impactada">Cantidad de población impactada</label>
              <p>{{formCtrl.currentProject.poblacionAfectada}}</p>
            </div>
            <div class="ol-md-6 col-sm-12 contentClear">
              <label for="segmento de la población impactada">Segmento de la población impactada</label>
            </div>
            <div class="form-group col-md-6 col-sm-12 contentClear">
              <div class="contentEtiquetas" ng-repeat="pobMeta in formCtrl.currentProject.poblacionesMeta">
                {{pobMeta.nombre}}
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12 agrupador">
          <div class="ic-title ic-responsabilidad"></div>
          &nbsp;Responsables
          <div class="row">
            <div class="form-group col-md-6">
              <label for="responsable">Responsable</label>
              <p>{{formCtrl.currentProject.liderProyecto}}</p>
            </div>
            <div class="form-group col-md-6 contentClear">
              <label for="area">Area</label>
              <p>{{formCtrl.currentProject.area.nombre}}</p>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 contentClear">
              <label for="organismos corresponsables">Organismos corresponsables</label>
              <p>{{formCtrl.currentProject.organismosCorresponsables}}</p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12 agrupador">
          <div class="ic-title ic-ubicacion"></div>
          &nbsp;Ubicación
          <div class="row">
            <div class="form-group col-md-4 col-sm-6">
              <label for="tipo de ubicacion">Tipo de ubicación</label>
              <p>{{formCtrl.currentProject.tipoUbicacionGeografica}}</p>
            </div>
            <div class="form-group col-md-8 col-sm-12 contentClear" ng-if="formCtrl.currentProject.tipoUbicacionGeografica === 'Dirección'">
              <label for="direccion">Dirección</label>
              <p>{{formCtrl.currentProject.direccion}}</p>
            </div>
            <div class="col-md-8 col-sm-12 contentClear" ng-if="formCtrl.currentProject.tipoUbicacionGeografica === 'Comunas'">
              <label for="direccion">Comunas</label>
            </div>
            <div class="form-group col-md-8 col-sm-12 contentClear" ng-if="formCtrl.currentProject.tipoUbicacionGeografica === 'Comunas'">
              <div class="contentEtiquetas" ng-repeat="label in formCtrl.currentProject.comunas">{{label.nombre}}</div>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12 agrupador">
          <div class="ic-title ic-infoInicial"></div>
          &nbsp;Información adicional
          <div class="form-group">
            <label for="tipo de proyecto">Tipo de Proyecto</label>
            <p>{{formCtrl.currentProject.tipoProyecto}}</p>
          </div>
          <div class="form-group">
            <label for="eje de gobierno">Eje de Gobierno</label>
            <div class="row">
              <div ng-repeat="eje in formCtrl.currentProject.ejesDeGobierno" class="viewEje eje-{{eje.idEjeDeGobierno}}"  ng-if="formCtrl.currentProject.ejesDeGobierno.length != 0" >
                <p> {{eje.nombre}} </p>
              </div>
            </div>
          </div>
          <p ng-if="formCtrl.currentProject.ejesDeGobierno.length == 0" for="eje-eje.idEjeDeGobierno"> No Corresponde </p>
          <div class="form-group">
            <label for="change">Implica cambio legislativo</label>
            <p>{{formCtrl.currentProject.cambioLegislativo | siNo}}</p>
          </div>
          <div class="form-group">
            <label for="prioridad jurisdiccional">Prioridad Jurisdiccional</label>
            <p>{{formCtrl.currentProject.prioridadJurisdiccional}}</p>
          </div>
        </div>
        <br>
        <div class="col-md-12 agrupador">
          <div class="ic-title ic-adjuntar"></div>
          &nbsp;Archivos adjuntos
          <div class="row">
            <div  ng-repeat="file in formCtrl.fileArray">
              <div class="col-md-12 attach">
                <span>{{file.name}}</span>
              </div>
            </div>
            <div  ng-repeat="file in formCtrl.currentProject.archivos">
              <div class="col-md-12 attach">
                <span ng-click="formCtrl.getFile(file.nombre)">{{file.nombre}}</span>
              </div>
            </div>
          </div>
        </div>
        <br />
        <!--<button  type="submit" class="btn btn-default" id="draftButton">Modificar proyecto</button>-->
        <button type="button" class="btn btn-default right" ng-click="formCtrl.cancelView()"> Cerrar</button>
      </form>
    </div>
  </div>
</li>
