<div class="pageContanerCustom">
  <div class="item page">
    <div class="row">
      <div class="col-md-12" id="alertmodalcomponent">
        <div class="row">
          <div class="col-lg-9 col-md-8 col-sm-4 col-xs-12 addBtn">
            <button type="button" class="btn btn-default" ng-click="usersCtrl.addUser()">
              <div class="icNew" title="Agregar"></div>
              <span>Agregar nuevo</span>
            </button>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-8 col-xs-12">
            <div class="form-group has-button contentSearch searchPage">
              <input type="text" class="form-control input-md" id="buttonInput2" placeholder="Buscar" ng-model="usersCtrl.userFilter">
              <button class="btn">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </div>
          </div>
          <div class="col-md-12">
            <hr class="lineColor">
            <div id="newuser">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Mail</th>
            <th class="colum-action">Estado</th>
            <th class="colum-action">Editar</th>
            <th class="colum-action">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in usersCtrl.usuarios | filter: usersCtrl.userFilter" id="user-{{user.idUsuario}}">
            <td class="thirdLabel">{{user.nombre}}</td>
            <td class="thirdLabel">{{user.apellido}}</td>
            <td>{{user.email}}</td>
            <td>
              <div class="switch">
                <input id="cmn-toggle-{{user.idUsuario}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-change="usersCtrl.toggleUserState(user)"  ng-model="user.activo">
                <label for="cmn-toggle-{{user.idUsuario}}"></label>
              </div>
            </td>
            <td class="colum-action">
            <i class="icEdit" aria-hidden="true" title="Editar" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" ng-click="usersCtrl.editUser(user.idUsuario)"></i>
            </td>
            <td class="colum-action"><i class="glyphicon glyphicon-remove" title="Eliminar" aria-hidden="true" data-toggle="modal" data-target="#userAlert" data-original-title="Eliminar" ng-click="usersCtrl.userForDelete(user.idUsuario)"></i>
            </td>
            <alertmodal modal-id="userAlert" modal-title="Aviso" modal-body="Se va a eliminar el Usuario. ¿Continuar?" on-accept="usersCtrl.deleteUserById()"></alertmodal>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
