<!--success / warning / danger-->
<div class="alert alert-{{type}} alert-block" id="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <!--ok-sign / remove-sign / exclamation-sign-->
    <i class="glyphicon glyphicon-{{icon}}" aria-hidden="true"></i>
    <strong>{{title}} - </strong>{{text}}
    <a style="cursor: pointer;" ng-if="gotoform" ng-click="notificationCtrl.goToCurrentForm()">{{textlink}}</a>
    <a style="cursor: pointer;" ng-if="gotoestrategico" ng-click="notificationCtrl.goToCurrentEstrategico()">{{textlink}}</a>
    <a style="cursor: pointer;" ng-if="gotooperativo" ng-click="notificationCtrl.goToCurrentOperativo()">{{textlink}}</a>
    <br>
    <a style="cursor: pointer;" ng-if="hascallback" ng-click="notificationCtrl.callback()">{{textlink}}</a>
</div>
