# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Netbeans
nb-configuration.xml
nbactions.xml

# Mac
.DS_Store

# Maven
log/
target/

#Application
/logs
dtree_*.log

#Test
test-output/
