<div class="contentNewProyect">{{userFormCtrl.title}}</div>
<div class="contentFormProyect admin">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <form role="form" ng-submit="userFormCtrl.submit()">
      <div class="col-md-12 col-sm-12 col-xs-12 agrupador form-group">
        <div class="row">
          <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" maxlength="512" ng-model="userFormCtrl.currentuser.nombre" placeholder="Ingresar nombre" required>
          </div>
          <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label for="name">Apellido</label>
            <input type="text" class="form-control" id="name" maxlength="512" ng-model="userFormCtrl.currentuser.apellido" placeholder="Ingresar apellido" required>
          </div>
          <div class="form-group col-md-4 col-sm-4 col-xs-12">
            <label for="name">Correo electrónico</label>
            <input type="email" class="form-control" id="mail" maxlength="512" ng-model="userFormCtrl.currentuser.email" placeholder="Ingresar mail" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="responsable">Perfil</label>
            <select class="form-control" ng-model="userFormCtrl.currentuser.roles[0]" ng-options="role.descripcion for role in userFormCtrl.roles track by role.idRol" required>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="responsable">Jurisdicción</label>
            <tags-input ng-model="userFormCtrl.currentuser.jurisdicciones"
                        display-property="nombre"
                        key-property="idJurisdiccion"
                        add-from-autocomplete-only="true"
                        placeholder="Jurisdicciones"
                        required>
                <auto-complete source="userFormCtrl.loadTags($query)"
                               min-length="1"
                               load-on-focus="true"
                               load-on-empty="true"
                               max-results-to-show="100">
                </auto-complete>
            </tags-input>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="button" ng-click="userFormCtrl.cancel()" class="btn btn-default right">Cancelar cambios</button>
    </form>
  </div>
</div>
