<div class="contentNewProyect">{{formCtrl.title}}</div>
<div id="grupo-level-3-3" class="contentFormProyect collapse in" aria-expanded="true">
    <div class="col-md-12 col-sm-12 col-xs-12 ">
        <form role="form" ng-submit="formCtrl.saveOperativeObjective()">
                <div class="form-group col-md-12 agrupador">
                    <label for="name">Nombre de Objetivo Operativo</label>
                    <input type="text" class="form-control form-group" id="name" placeholder="Ingresar nombre" ng-model="formCtrl.currentOperativeObjective.nombre" required>
                </div>
            <button type="submit" class="btn btn-success">Guardar Objetivo Operativo</button>
            <button class="btn btn-default btnRemove right" type="button" data-toggle="modal" data-target="#alertModalId" ng-click="formCtrl.deleteOperativeObjective(formCtrl.currentOperativeObjective.idObjetivoOperativo)">
               Eliminar
            </button>
            <button type="button" class="btn btn-default right" ng-click="formCtrl.cancelOperativeObjective()">Cancelar cambios</button>
        </form>
    </div>
</div>
