<li id="projectFormID" ng-init="formCtrl.showDetailsTab() ? indextab = 1 : indextab = 0">
<div class="contentNewProyect">{{formCtrl.title}}</div>
<uib-tabset active="indextab">

  <uib-tab index="0" heading="Información inicial" ng-if="formCtrl.showInformacionInicial()">
    <div class="col-md-12 contentFormProyect" id="alertmodalcomponent">
       <div class="col-md-3 col-sm-12 col-xs-12 pull-right contentAction" id="moveprojectid">
            <div class="contentProgress content-actionForm">
            <div class="formProgressTitle">Información inicial</div>
                <div class="titleProgress">Progreso de creación</div>
                <div class="row">
                    <div class="c100 p{{formCtrl.percentForm}} centerProgress coloGreen">
                      <span>{{formCtrl.percentForm}}%</span>
                      <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                      </div>
                    </div>
                </div>
                <div class="dataProgress">{{formCtrl.countForm}}</div>
            </div><div class="dropdown content-actionForm contentButtonRight">
                <button class="btn btn-default dropdown-toggle fullButtonRight" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Estado: {{formCtrl.actionMove}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropEstado" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="status in formCtrl.moveOptions"><a ng-click="formCtrl.setState(status)">{{status}}</a></li>
                    <!-- <li><a href="#">Pre aprobar</a></li>
                    <li><a href="#">Cancelar</a></li>
                    <li><a href="#">Rechazar</a></li> -->
                </ul>
              </div>

              <div ng-if="formCtrl.showEstadoBox()">
                <div class="formEstado col-sm-12 col-xs-12">
                  Estado
                  <p class="reference">Completá la información para el estado seleccionado</p>
                  <div class="form-group" ng-if="formCtrl.showPrioridadJefaturaBox()">
                    <label for="tipo de ubicacion">Prioridad jefatura</label>
                    <select class="form-control" ng-model="formCtrl.currentProject.prioridadJefatura" style="">
                        <option ng-repeat="item in formCtrl.prioridadesJefatura" ng-selected="{{item === formCtrl.currentProject.prioridadJefatura}}" value="{{item}}">{{item}}</option>
                    </select>
                  </div>
                  <div class="form-group left" ng-if="formCtrl.showPresuAprobadoBox()">
                    <label for="presupuesto">Presupuesto aprobado total</label>
                    <input class="inputPresupuesto form-control" type="text" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57 || event.charCode === 0" maxlength="15" id="totalPresupuestoAprobado" ng-model="formCtrl.currentProject.totalPresupuestoAprobado">
                    <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                  </div>
                  <div class="alert alert-info" role="alert">Guardá los cambios para aplicar el nuevo estado</div>
                </div>
              </div>


              <div class="col-md-12 col-sm-12 col-xs-12">
                <hr class="line-inner-proyect">
            </div>

            <div class="dropdown content-actionForm contentButtonRight">
                <button class="btn btn-default fullButtonRight" type="button" id="dropdownMenu1" data-toggle="modal" data-target="#moverModal" aria-haspopup="true" aria-expanded="true" ng-click="formCtrl.moveProject()">
                    Mover a ...
                    <!-- <span class="caret"></span> -->
                </button>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr class="line-inner-proyect">
            </div>

            <div class="dropdown content-actionForm contentButtonRight">
              <button ng-show="formCtrl.currentProject.estado != 'Incompleto' && formCtrl.currentProject.estado != 'En Priorizacion' && formCtrl.currentProject.estado != 'Completo' && formCtrl.currentProject.estado != null" type="button" ng-click="formCtrl.saveProject()" ng-disabled="!formCtrl.allInputs" class="btn btn-success fullButtonRight">Guardar</button>
              <button ng-show="formCtrl.currentProject.estado === 'Incompleto' || formCtrl.currentProject.estado === 'Completo' || formCtrl.currentProject.estado === null" ng-disabled="!formCtrl.allInputs" type="button" ng-click="formCtrl.presentProject()" class="btn btn-success btn-lg fullButtonRight">Guardar y Presentar</button>
              <button ng-if="formCtrl.flagForSaveDraft" ng-show="formCtrl.currentProject.estado === null || formCtrl.currentProject.estado === 'Incompleto' || formCtrl.currentProject.estado === 'Completo'" type="submit" form="principalForm" class="btn btn-default fullButtonRight" id="draftButton fullButtonRight">Guardar Borrador</button>
              <button type="button" class="btn btn-default fullButtonRight" data-toggle="modal" data-target="#cancelAlert">Cancelar cambios</button>
              <button ng-show="formCtrl.showDeleteButton()" type="button" class="btn btn-default right btnRemove fullButtonRight" data-toggle="modal" data-target="#projectAlert" ng-click="formCtrl.deleteProject(formCtrl.currentProject.idProyecto)">Eliminar</button>
            </div>

        </div>


    <div class="col-md-9 col-sm-12 col-xs-12">
        <form role="form" id="principalForm" ng-submit="formCtrl.saveProject()">
                <div class="col-md-12 agrupador">
                    <div class="ic-title ic-infoInicial"></div>&nbsp;Información inicial
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="name" maxlength="512" placeholder="Ingresar nombre" ng-model="formCtrl.currentProject.nombre" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="descripcion del proyecto">Descripción del proyecto</label>
                            <p class="reference">Incluí los objetivos y las características básicas del mismo</p>
                            <textarea class="form-control" rows="3" ng-model="formCtrl.currentProject.descripcion"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3 col-sm-6">
                            <div></div>
                            <label for="meta 2017">Meta 2017</label>
                            <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 0' class="form-control" id="meta" placeholder="Ej. 200" ng-model="formCtrl.currentProject.meta" maxlength="15">
                        </div>
                        <div class="form-group col-md-9 col-sm-12">
                            <label for="unidad de la meta">Unidad de la meta</label>
                            <input type="text" class="form-control" id="unit" maxlength="512" placeholder="Ingresar unidad" ng-model="formCtrl.currentProject.unidadMeta">
                        </div>
                    </div>
                </div>
            <br>
                <div class="col-md-12 agrupador">
                    <div class="ic-title ic-presupuesto"></div>&nbsp;Fechas y presupuesto
                    <div class="row">
                        <div class="form-group col-md-5 col-sm-6">
                            <label for="fecha de inicio">Fecha de inicio</label>
                            <!-- <input type="date" class="form-control" id="responsable" placeholder="" ng-model="formCtrl.currentProject.fechaInicio" ng-change="formCtrl.loadYears()" required> -->
                            <p class="input-group">
                              <input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" is-open="formCtrl.datePickerInicio.status"  close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="formCtrl.currentProject.fechaInicio" ng-change="formCtrl.loadYears()" required/>
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="formCtrl.openPickerInicio()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>
                        <div class="form-group col-md-5 col-sm-6">
                            <label for="fecha de fin">Fecha de fin</label>
                            <!-- <input type="date" class="form-control" id="responsable" placeholder="" min="formCtrl.currentProject.fechaInicio" ng-model="formCtrl.currentProject.fechaFin" ng-change="formCtrl.loadYears()" required> -->
                            <p class="input-group">
                              <input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" is-open="formCtrl.datePickerFin.status"  close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="formCtrl.currentProject.fechaFin" ng-change="formCtrl.loadYears()" required />
                              <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="formCtrl.openPickerFin()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </p>
                        </div>
                        <span class="errorForm error-date">{{formCtrl.validDate}}</span>
                    </div>
                    <div ng-show="formCtrl.currentProject.fechaInicio && formCtrl.currentProject.fechaFin && formCtrl.validDate == ''">
                      <div class="row">
                        <div class="col-md-12">
                          <label class="titlePresupuesto" for="presupuesto">Presupuesto desglosado año por año:</label>
                          <p class="reference">Ingresá montos para calcular el total</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-2 col-sm-2 col-xs-3 add-line">
                          <label for="año">Año</label>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 add-line">
                          <label for="fondo solicitado GCBA" style="padding-left: 24px;">Fondo solicitado GCBA</label>
                        </div>
                        <div class="col-md-4 col-sm-5 col-xs-4 add-line">
                          <label for="fondo de otras fuentes" style="padding-left: 24px;">Fondo de otras fuentes</label>
                        </div>
                      </div>
                      <div class="row" ng-repeat="p in formCtrl.currentProject.presupuestosPorAnio">
                        <div class="form-group col-md-2 col-sm-2 col-xs-3 add-line">
                          <input type="number" class="form-control" id="year" ng-value="year" ng-model="p.anio" disabled="true">
                        </div>
                        <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                        <div class="form-group col-md-4 col-sm-4 col-xs-4 add-line">
                          <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 0' maxlength="15" class="form-control" id="meta" ng-change="formCtrl.getTotalBudget()" ng-model="p.presupuesto">
                        </div>
                        <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                        <div class="form-group col-md-4 col-sm-4 col-xs-4 add-line">
                          <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 0' maxlength="15" class="form-control" id="meta" ng-change="formCtrl.getTotalBudgetOtherSources()" ng-model="p.otrasFuentes">
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-2 col-sm-2 col-xs-3 totalPresupuesto">
                          <label for="subtotal">SUBTOTAL</label>
                        </div>
                        <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                        <div class="form-group col-md-4 col-sm-4 col-xs-4">
                          <input type="number" class="form-control" id="meta" disabled="disabled" ng-model="formCtrl.totalBudget">
                        </div>
                        <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                        <div class="form-group col-md-4 col-sm-4 col-xs-4">
                          <input type="number" class="form-control" id="meta" disabled="disabled" ng-model="formCtrl.totalBudgetOtherSources">
                        </div>
                      </div>
                      <div class="row contentTotal">
                        <div class="form-group col-md-offset-4 col-md-2 col-sm-2  col-xs-3 col-sm-offset-4 totalPresupuesto">
                          <label for="total">TOTAL</label>
                        </div>
                        <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                        <div class="form-group col-md-4 col-sm-4  col-xs-8 input">
                          <input type="number" class="form-control" id="meta" disabled="disabled" ng-value="formCtrl.totalBudget + formCtrl.totalBudgetOtherSources">
                        </div>
                      </div>
                    </div>
                </div>

            <br>
                <div class="col-md-12 agrupador">
                    <div class="ic-title ic-poblacion"></div>&nbsp;Población
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="cantidad de población impactada">Cantidad de población impactada</label>
                            <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 0' class="form-control" id="unit" placeholder="Ej. 200.000" ng-model="formCtrl.currentProject.poblacionAfectada" maxlength="15">
                        </div>
                        <div class="form-group col-md-6 col-sm-6">
                            <label for="segmento de la población impactada">Segmento de la población impactada</label>
                            <!-- <input type="text" class="form-control" id="type" placeholder="Ej. Jubilados, Estudiantes"> -->
                            <tags-input ng-model="formCtrl.currentProject.poblacionesMeta"
                                        display-property="nombre"
                                        key-property="nombre"
                                        add-from-autocomplete-only="true"
                                        placeholder="{{formCtrl.poblacionesMetaPlaceholder}}"
                                        replace-spaces-with-dashes="false">
                                <auto-complete source="formCtrl.loadTags($query)"
                                               min-length="0"
                                               max-results-to-show="1000"
                                               load-on-focus="true"
                                               load-on-empty="true">
                                </auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
            <br>
                <div class="col-md-12 agrupador">
                    <div class="ic-title ic-responsabilidad"></div>&nbsp;Responsables
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="responsable">Responsable</label>
                            <input type="text" class="form-control" id="responsable" maxlength="512" placeholder="Ingresar l&iacute;der de proyecto" ng-model="formCtrl.currentProject.liderProyecto">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="area">Area</label>
                            <select class="form-control" ng-model="formCtrl.areaNombre" ng-change="formCtrl.onChangeArea()">
                                <option ng-repeat="item in formCtrl.jurisdiccion.areas"  ng-selected="{{item.nombre == formCtrl.nombre}}" value="{{item.nombre}}">{{item.nombre}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                          <label for="organismos corresponsables">Organismos corresponsables</label> <span class="opcional">(Opcional)</span>
                          <input type="text" class="form-control" id="responsable" maxlength="512" placeholder="Ingresar otros organismos de Ciudad, Nación, Provincia" ng-model="formCtrl.currentProject.organismosCorresponsables">
                        </div>
                    </div>
                </div>
            <br>
                <div class="col-md-12 agrupador">
                    <div class="ic-title ic-ubicacion"></div>&nbsp;Ubicación
                    <p class="reference">Seleccioná el tipo de ubicación que mejor describa al proyecto.
Si el proyecto impacta en una ubicación específica, seleccioná "Dirección".
Si impacta en varias direcciones, seleccioná "Comunas".
Si el proyecto no tiene una ubicación definida aún o no impacta en ningún lugar, seleccioná la opción correspondiente a cada caso.</p>
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6">
                            <label for="tipo de ubicacion">Tipo de ubicación</label>
                            <select class="form-control" ng-change="formCtrl.clearValuesUbicacion(formCtrl.currentProject.tipoUbicacionGeografica)" ng-model="formCtrl.currentProject.tipoUbicacionGeografica">
                                <option>Comunas</option>
                                <option>Dirección</option>
                                <option>Sin Definir</option>
                                <option>No Corresponde</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8 col-sm-12" ng-if="formCtrl.currentProject.tipoUbicacionGeografica == 'Dirección'">
                            <label for="direccion">Dirección</label>
                            <!-- <input type="text" class="form-control" id="direccion" maxlength="512" placeholder="Ingresar dirección" ng-model="formCtrl.currentProject.direccion"> -->
                            <usigautocomplete></usigautocomplete>
                        </div>
                        <div class="form-group col-md-8 col-sm-12" ng-if="formCtrl.currentProject.tipoUbicacionGeografica == 'Comunas'">
                            <label for="comunas">Comunas</label>
                            <tags-input ng-model="formCtrl.currentProject.comunas"
                                        display-property="nombre"
                                        key-property="nombre"
                                        add-from-autocomplete-only="true"
                                        placeholder="{{formCtrl.comunasPlaceholder}}"
                                        replace-spaces-with-dashes="false">
                                <auto-complete source="formCtrl.loadComunas($query)"
                                               min-length="0"
                                               max-results-to-show="1000"
                                               load-on-focus="true"
                                               load-on-empty="true">
                                </auto-complete>
                            </tags-input>
                        </div>
                    </div>
                </div>
            <br>
                <div class="col-md-12 agrupador">
                     <div class="ic-title ic-infoInicial"></div>&nbsp;Información adicional
                    <div class="form-group">
                        <label for="tipo de proyecto">Tipo de Proyecto</label>
                        <div class="radio" ng-init="formCtrl.currentProject.tipoProyecto">
                            <label for="optionsRadios1" class="option">
                                <input type="radio" name="optionsTipo" id="optionsRadios1" value="Nuevo" checked ng-model="formCtrl.currentProject.tipoProyecto">
                                Nuevo
                            </label>
                            <label for="optionsRadios2" class="option">
                                <input type="radio" name="optionsTipo" id="optionsRadios2" value="Ampliación" ng-model="formCtrl.currentProject.tipoProyecto">
                                Ampliaci&oacute;n
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="eje de gobierno">Eje de Gobierno</label>
                      <p class="reference">Seleccioná los ejes de gobierno de la Ciudad haciendo clic en la imagen </p>
                        <div class="row">
                          <div class="contentEje eje-{{eje.idEjeDeGobierno}}" ng-repeat="eje in formCtrl.ejesDeGobierno">
                              <input type='checkbox' class="ejeCheckbox" name='eje-{{eje.idEjeDeGobierno}}' value='eje-{{eje.idEjeDeGobierno}}' ng-click="formCtrl.checkNoSelection()" id="eje-{{eje.idEjeDeGobierno}}" checklist-model="formCtrl.currentProject.ejesDeGobierno" checklist-value="eje"/>
                              <label for="eje-{{eje.idEjeDeGobierno}}"> {{eje.nombre}} <popover data-placement="top" data-content="{{eje.descripcion}} Ej. {{eje.ejemplos}}" title="{{eje.nombre}}"></popover></label>
                          </div>
                        </div>
                        <div class="checkbox">
                            <label class="option" for="no-selection"><input ng-click="formCtrl.cleanCheckEjes()" type="checkbox" id="no-selection" name="noSelection" ng-checked="formCtrl.ejesNoCorresponde"> No corresponde</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="change">Implica cambio legislativo</label>
                        <div class="radio" ng-init="formCtrl.currentProject.cambioLegislativo">
                            <label class="option">
                                <input type="radio" name="optionslegislativo" id="optionsRadios3" data-ng-value="false" ng-model="formCtrl.currentProject.cambioLegislativo">
                                No
                            </label>
                            <label class="option">
                                <input type="radio" name="optionslegislativo" id="optionsRadios4" data-ng-value="true" ng-model="formCtrl.currentProject.cambioLegislativo">
                                S&iacute;
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prioridad jurisdiccional">Prioridad Jurisdiccional</label>
                        <div class="radio" ng-init="formCtrl.currentProject.prioridadJurisdiccional">
                            <label class="option">
                                <input type="radio" name="optionsPrioridad" id="optionsRadios1" value="1.Alta" ng-model="formCtrl.currentProject.prioridadJurisdiccional">
                                1. Alta
                            </label>
                            <label class="option">
                                <input type="radio" name="optionsPrioridad" id="optionsRadios2" value="2.Media" ng-model="formCtrl.currentProject.prioridadJurisdiccional">
                                2. Media
                            </label>
                            <label class="option">
                                <input type="radio" name="optionsPrioridad" id="optionsRadios2" value="3.Baja" ng-model="formCtrl.currentProject.prioridadJurisdiccional">
                                3. Baja
                            </label>
                        </div>
                    </div>
                </div>
            <br>
                <div class="col-md-12 agrupador">
                    <div class="ic-title ic-adjuntar"></div>&nbsp;Archivos adjuntos <span class="opcional">(Opcional)</span>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="reference">Promocioná tu proyecto. Contanos mejor de qué se trata y porqué debe ser priorizado.</p>
                        </div>
                          <div  ng-repeat="file in formCtrl.fileArray">
                            <div class="col-md-12 attach">
                                <span>{{file.name}}</span>
                                <i class="glyphicon glyphicon-remove" ng-click="formCtrl.deleteFile(file)" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar"></i>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <hr class="line-inner-proyect">
                            </div>
                          </div>
                          <div  ng-repeat="file in formCtrl.currentProject.archivos">
                            <div class="col-md-12 attach">
                                <span ng-click="formCtrl.getFile(file.nombre)">{{file.nombre}}</span>
                                <i class="glyphicon glyphicon-remove" ng-click="formCtrl.deleteFileFromCurrent(file)" aria-hidden="true" title="Eliminar" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar"></i>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <hr class="line-inner-proyect">
                            </div>
                          </div>
                        <!-- <div class="col-md-12 attach">
                            <span>Nombre del archivo.jpg</span>
                            <i class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar"></i>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <hr class="line-inner-proyect">
                        </div>
                        <div class="col-md-12 attach">
                            <span>Nombre del archivo.jpg</span>
                            <i class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Eliminar"></i>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <hr class="line-inner-proyect">
                        </div> -->
                        <div class="col-md-12">
                            <input type="file" id="inputFile" multiple>
                            <button id="buttonFile" type="button" class="btn btn-default" ng-click="formCtrl.uploadFile()">
                              <div class="icNew" title="Agregar"></div>
                              <span>Agregar nuevo archivo</span>
                            </button>
                        </div>
                    </div>
                </div>
            <br />
            <div class="alert alert-info floatContent">
                Para guardar y presentar tenes que completar todos los campos que no son opcionales.
            </div>
            <button ng-show="formCtrl.currentProject.estado != 'Incompleto' && formCtrl.currentProject.estado != 'Completo' && formCtrl.currentProject.estado != 'En Priorizacion' && formCtrl.currentProject.estado != null" type="submit" ng-disabled="!formCtrl.allInputs" class="btn btn-success">Guardar</button>
            <button ng-show="formCtrl.currentProject.estado === 'Incompleto' || formCtrl.currentProject.estado === 'Completo' || formCtrl.currentProject.estado === null" ng-disabled="!formCtrl.allInputs" type="button" ng-click="formCtrl.presentProject()" class="btn btn-success">Guardar y Presentar</button>
            <button ng-if="formCtrl.flagForSaveDraft" ng-show="formCtrl.currentProject.estado === null || formCtrl.currentProject.estado === 'Incompleto' || formCtrl.currentProject.estado === 'Completo'" type="submit" class="btn btn-default" id="draftButton">Guardar Borrador</button>
            <button ng-show="formCtrl.showDeleteButton()" type="button" class="btn btn-default right btnRemove" data-toggle="modal" data-target="#projectAlert">Eliminar</button>
            <button type="button" class="btn btn-default right" data-toggle="modal" data-target="#cancelAlert">Cancelar cambios</button>
        </form>
        <alertmodal modal-id="projectAlert" modal-title="Aviso" modal-body="Se va a eliminar el Proyecto. ¿Continuar?" on-accept="formCtrl.deleteProjectById(formCtrl.currentProject.idProyecto)"></alertmodal>
        <alertmodal modal-id="cancelAlert" modal-title="Aviso" modal-body="Se van a perder los datos ingresados. ¿Desea Continuar?" on-accept="formCtrl.cancel()"></alertmodal>
        <alertmodal modal-id="budgetAlert" modal-title="Aviso" modal-body="Vas a perder la información ingresada en los presupuestos. ¿Desea Continuar?" on-accept="formCtrl.continueChangeBudget(formCtrl.currentProject.fechaInicio, formCtrl.currentProject.fechaFin)" on-cancel="formCtrl.cancelDateUpdate()"></alertmodal>
    </div>
  </div>

  </uib-tab>

  <uib-tab index="1" heading="Información detallada" ng-if="formCtrl.showDetailsTab()">

    <div class="col-md-12 contentFormProyect" id="alertmodalcomponent">
       <div class="col-md-3 col-sm-12 col-xs-12 pull-right contentAction" id="obraprojectid">
            <div class="contentProgress content-actionForm">
            <div class="formProgressTitle">Información detallada</div>
                <!-- <div class="titleProgress">Progreso de creación</div>
                <div class="row">
                    <div class="c100 p{{formCtrl.percentForm}} centerProgress coloGreen">
                      <span>{{formCtrl.percentForm}}%</span>
                      <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                      </div>
                    </div>
                </div>
                <div class="dataProgress">{{formCtrl.countForm}}</div> -->
            </div><div class="dropdown content-actionForm contentButtonRight">
                <button class="btn btn-default dropdown-toggle fullButtonRight" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Estado: {{formCtrl.actionMove}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropEstado" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="status in formCtrl.moveOptions"><a ng-click="formCtrl.setState(status)">{{status}}</a></li>
                    <!-- <li><a href="#">Pre aprobar</a></li>
                    <li><a href="#">Cancelar</a></li>
                    <li><a href="#">Rechazar</a></li> -->
                </ul>
              </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr class="line-inner-proyect">
            </div>

            <div class="dropdown content-actionForm contentButtonRight">
              <button type="button" ng-click="formCtrl.saveDataDetail()" class="btn btn-success btn-lg fullButtonRight">{{formCtrl.savePresentTxt}}</button>
              <button type="submit" form="DetailForm" class="btn btn-default fullButtonRight" ng-if = "formCtrl.currentProject.estado === 'D. Completo' || formCtrl.currentProject.estado === 'D. Incompleto' || formCtrl.currentProject.estado === 'Pre Aprobado'" id="draftButton fullButtonRight">Guardar Borrador</button>
              <button type="button" class="btn btn-default fullButtonRight"  data-toggle="modal" data-target="#cancelAlertDetail">Cancelar cambios</button>
            </div>

        </div>


    <div class="col-md-9 col-sm-12 col-xs-12">
        <form role="form" id="DetailForm" ng-submit="formCtrl.saveDataDetailDraft()" class="contentDetailProject">
                <div class="col-md-12 agrupador">
                    <div class="ic-title ic-caminoCritico"></div>&nbsp;Camino crítico: Hitos y Obras
                    <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive gridContent">
                          <table class="table tableContentForm tableHitos" ng-if="(formCtrl.currentProject.hitos && formCtrl.currentProject.hitos.length > 0) || (formCtrl.currentProject.obras && formCtrl.currentProject.obras.length > 0)" ng-init="formCtrl.initializePickers()">
                            <thead>
                              <tr>
                                <th>Hito</th>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <!-- <th>Estado</th> -->
                                <th class="columnAction"></th>
                              </tr>
                            </thead>
                            <tbody ng-repeat="hito in formCtrl.currentProject.hitos track by $index">
                              <tr>
                                <td ng-init="hitoindex = $index">
                                  <input type="text" class="form-control" id="name" maxlength="512" ng-model="hito.nombre" required>
                                </td>
                                <td>
                                  <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" is-open="formCtrl.datePickersInicio[$index].status" close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="hito.fechaInicio" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="formCtrl.handlePickerInicio($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" is-open="formCtrl.datePickersFin[$index].status"  close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="hito.fechaFin" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="formCtrl.handlePickerFin($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </div>
                                </td>
                                <td>
                                  <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownAction">
                                    <!-- <li><a href="">Agrupar con...</a></li>
                                    <li><a href="">Dependiente de...</a></li> -->

                                    <li><a ng-click="formCtrl.subHito($index)">Agregar subhito</a></li>
                                    <li><a class="actionHito" ng-click="formCtrl.removeHito($index)">Eliminar</a></li>

                                  </ul>
                                </div>
                                </td>
                              </tr>
                              <tr ng-repeat="hijo in hito.hitosHijos track by $index" class="hito-{{hitoindex}}">
                                <td>
                                  <input type="text" class="form-control inputSubHito" id="name" maxlength="512" required="" ng-model="hijo.nombre" required>
                                  <div class="itemObj icSubHito"></div>
                                </td>
                                <td>
                                  <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" is-open="formCtrl.datePickersHijosInicio[$index].status" close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="hijo.fechaInicio" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="formCtrl.handlePickerHijoInicio($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="d!/M!/yyyy" is-open="formCtrl.datePickersHijosFin[$index].status"  close-text="Cerrar" current-text="Fecha Actual" clear-text="Limpiar" ng-model="hijo.fechaFin" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="formCtrl.handlePickerHijoFin($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                  </div>
                                </td>
                                <td>
                                  <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownAction">
                                    <!-- <li><a href="">Agrupar con...</a></li>
                                    <li><a href="">Dependiente de...</a></li> -->
                                    <li><a ng-click="formCtrl.removeSubHito($index, hitoindex)">Eliminar</a></li>
                                  </ul>
                                </div>
                                </td>
                              </tr>
                            </tbody>
                            <tbody ng-repeat="obra in formCtrl.currentProject.obras track by $index">
                              <tr data-toggle="collapse">
                                <td>
                                  <span class="thirdLabel columnRight">
                                      <span class="nameObj" data-toggle="collapse" data-target=".obra-{{$index}}" ng-init="obraindex = $index">{{obra.nombre}}</span>
                                      <span class="icEdit" aria-hidden="true" title="Editar" data-toggle="modal" data-target="#obraModal" ng-click="formCtrl.editObra(obra)"></span>
                                  </span>
                                </td>
                                <td>
                                  <div class="input-group">
                                    {{obra.fechaInicio | date:'dd/MM/yyyy'}}
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group">
                                    {{obra.fechaFin | date:'dd/MM/yyyy'}}
                                  </div>
                                </td>
                                <td>
                                  <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownAction" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownAction">
                                    <!-- <li><a href="">Agrupar con...</a></li>
                                    <li><a href="">Dependiente de...</a></li> -->
                                    <li><a class="actionHito" ng-click="formCtrl.removeObra($index)">Eliminar</a></li>

                                  </ul>
                                </div>
                                </td>
                              </tr>
                              <tr ng-repeat="hito in obra.hitos track by $index" class="collapse in obra-{{obraindex}}">
                                <td>
                                  <div class="obraHitoTitle">
                                    <div class="itemObj"></div>
                                    {{hito.nombre}}
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group">
                                    {{hito.fechaInicio | date:'dd/MM/yyyy'}}
                                  </div>
                                </td>
                                <td>
                                  <div class="input-group">
                                    {{hito.fechaFin | date:'dd/MM/yyyy'}}
                                  </div>
                                </td>
                                <td>

                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-12">
                            <button id="buttonHito" type="button" class="btn btn-default" data-toggle="modal" data-target="#hitoModal" ng-click="formCtrl.addHito()">
                              <div class="icNew" title="Agregar"></div>
                              <span>Nuevo hito</span>
                            </button>
                             <button id="buttonObra" type="button" class="btn btn-default" data-toggle="modal" data-target="#obraModal" ng-click="formCtrl.addObra()">
                              <div class="icNew" title="Agregar"></div>
                              <span>Nueva obra</span>
                            </button>
                        </div>
                    </div>
                </div>
            <br>
                <div class="col-md-12 agrupador">
                    <div class="ic-title ic-presupuesto"></div>&nbsp;Presupuesto
                    <p class="reference">Podés copiar y pegar muchos desde Excel en un solo paso. </p>
                    <p class="reference">Si seleccionás en Excel varias celdas que estén una debajo de la otra, las copias y pegás sobre cualquier de los siguientes casilleros, se distribuirán a partir  de ese casillero hacia abajo. </p>
                    <div class="row">
                      <div class="typeTableContainer col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <p class="reference">*<b>PPI</b> - Plan Plurianual de Inversión.</p>
                        <p class="reference">*El presupuesto es en Pesos.</p>
                      </div>
                    <div class="typeTableContainer col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group">
                    <label for="direccion">TIPO DE GASTO (TOTAL DEL PROYECTO)</label>
                      <div class="titleTable"></div>
                      <hot-table col-headers="true" row-headers="true" datarows="formCtrl.type" hot-id="type">
                        <hot-column width="150" read-only></hot-column>
                        <hot-column width="100" type="'numeric'" format="'$ 0,0.00'"></hot-column>
                      </hot-table>

                      <!-- <hot-table
                        settings="formCtrl.settings"
                        row-headers="formCtrl.rowHeaders"
                        col-headers="formCtrl.colHeaders"
                        datarows="formCtrl.type"
                        column-summary="formCtrl.columnSummary"
                        >
                      </hot-table> -->
                    </div>

                    <div class="typeTableContainer col-lg-5 col-md-12 col-sm-12 col-xs-12 form-group gridResponsive">
                    <label for="direccion">CURVA DE INVERSIÓN</label>
                      <div class="titleTable"></div>
                      <hot-table col-headers="true" row-headers="true" datarows="formCtrl.curve" column-summary="formCtrl.columnSummary" hot-id="curve">
                        <hot-column width="150" read-only></hot-column>
                        <hot-column width="100" type="'numeric'" format="'$ 0,0.00'"></hot-column>
                      </hot-table>
                    </div>
                    </div>
                </div>
            <br>
            <button type="button" ng-click="formCtrl.saveDataDetail()" class="btn btn-success btn-lg">{{formCtrl.savePresentTxt}}</button>
            <button type="submit" ng-if="formCtrl.currentProject.estado === 'D. Completo' || formCtrl.currentProject.estado === 'D. Incompleto' || formCtrl.currentProject.estado === 'Pre Aprobado'" class="btn btn-default" id="draftButton">Guardar Borrador</button>
            <button type="button" class="btn btn-default right" data-toggle="modal" data-target="#cancelAlertDetail">Cancelar cambios</button>
        </form>

        <alertmodal modal-id="cancelAlertDetail" modal-title="Aviso" modal-body="Se van a perder los datos ingresados. ¿Desea Continuar?" on-accept="formCtrl.cancel()"></alertmodal>
    </div>
  </div>

  </uib-tab>

</uib-tabset>
</li>
