<div class="pageContanerCustom">
    <div class="item page">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-year">Plan 2017</h2>
                <div style="clear:both;"></div>
                 <div class="row">
                    <div class="col-md-12">
                        <p class="title-import-excel">Importar Excel</p>
                        <hr>
                    </div>
                    <form name="fileform" ng-submit="homeCtrl.submit(fileform)">
                      <div class="col-md-12">
                        <input type="file" id="archivoAImportar" style="margin-left:10px;">
                        <hr>
                        <!-- <div ng-model="homeCtrl.archivoAImportar" class="content-import">
                          <p>Arrastrar a este recuadro el archivo a importar</p>
                          <p>o</p> -->
                          <div class="col-md-12">
                            <div class="form-group">
                              <p>La lista que estás importando puede tener datos repetidos, selecciona si deseás preserver los datos o reemplazarlos</p>
                              <div class="radio" ng-init="homeCtrl.pisarProyectos">
                                <label class="option">
                                  <input type="radio" name="pisarProyectos" id="pisarProyectos" data-ng-value="false" ng-model="homeCtrl.pisarProyectos">
                                  <p class="title-help">Preservar los datos existentes en el sistema</p>
                                  <!-- <p>Conservar datos existentes en POA, incorporando los nuevos datos presentes en el archivo. Se empleará la columna "Cod. Identificación" de los datos del archivo, para identificar a qué proyectos corresponde cada fila de nuevos datos.</p> -->
                                </label>
                              </div>
                              <div class="radio">
                                <label class="option">
                                  <input type="radio" name="pisarProyectos" id="pisarProyectos" data-ng-value="true" ng-model="homeCtrl.pisarProyectos">
                                  <p class="title-help">Reemplazar los datos existentes por los datos nuevos</p>
                                  <!-- <p>Eliminar todos los datos existentes en POA, incorporar los datos del archivo como únicos datos.</p> -->
                                </label>
                              </div>
                            </div>
                          </div>
                              <div class="col-md-12">
                                <button type="submit" class="btn btn-default">Importar con estas definiciones</button>
                                <button type="button" class="btn btn-link" ui-sref="home.tree">Cancelar</button>
                              </div>

                            </div>
                          </div>
                        <!-- </div> -->
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
