#perfil
spring.profiles.active=prod

#Security
security.user.password=esteban

#Logging
logging.level.org.springframework.security=proyectosBA

#Database
spring.datasource.url=jdbc:mysql://localhost:3306/proyectos_ba_generated
spring.datasource.username=admin
spring.datasource.password=admin
spring.datasource.driver-class-name=org.mariadb.jdbc.Driver
spring.datasource.test-on-borrow=true
spring.datasource.validation-query=select 1
spring.jpa.database-platform=org.hibernate.dialect.MySQL5InnoDBDialect
spring.jpa.database=MYSQL
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
spring.jpa.properties.hibernate.cache.use_second_level_cache=false
spring.jpa.properties.hibernate.cache.use_query_cache=false
spring.jpa.properties.hibernate.cache.generate_statistics=true
#spring.jpa.properties.org.hibernate.flushMode=ALWAYS

#hibernate
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true

#ESB
esb.producer.timeout=10000
esb.producer.replyToDestination=esb.response.queue
esb.producer.destination=esb.request.queue
esb.jmsTemplate.topic=false
esb.pooledConnection.clientID=pbaBE-clientId
esb.pooledConnecttion.brokerURL=tcp://localhost:61616

## envers
spring.jpa.properties.org.hibernate.envers.store_data_at_delete=true