<div class="pageContanerCustom">
  <div class="item page">
    <div class="row">
      <div class="col-md-12">
        <div id="notifications"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="alertmodalcomponent">
          <div class="addBtn left">
            <button type="button" class="btn btn-default" ng-click="crossTopicsCtrl.addCrossTopic()">
              <div class="icNew" title="Agregar"></div>
              <span>Agregar nuevo</span>
            </button>
          </div>
          <div class="searchStyle right">
            <div class="form-group left">
             <div class="icLupa"></div>
              <input type="text" class="form-control input-md" id="buttonInput2" placeholder="Buscar tema transversal" ng-model="crossTopicsCtrl.crossTopicsFilter">
            </div>
            <button type="submit" class="btn btn-default left">Buscar</button>
          </div>
          <div class="col-md-12 notPadding">
            <hr class="lineColor">
            <div id="newcrosstopic">
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Tema transversal</th>
            <th class="colum-action">Estado</th>
            <th class="colum-action">Editar</th>
            <th class="colum-action" >Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="crossTopic in crossTopicsCtrl.crossTopics | filter: crossTopicsCtrl.crossTopicsFilter" id="cross-topic-{{crossTopic.idTemaTransversal}}">
            <td class="thirdLabel">{{crossTopic.temaTransversal}}</td>
            <td>
              <div class="switch">
                <input id="cmn-toggle-{{crossTopic.idTemaTransversal}}" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-change="crossTopicsCtrl.toggleCrossTopicState(crossTopic)"  ng-model="crossTopic.activo">
                <label for="cmn-toggle-{{crossTopic.idTemaTransversal}}"></label>
              </div>
            </td>
            <td class="colum-action">
              <i class="icEdit" aria-hidden="true" title="Editar" data-toggle="tooltip" data-placement="top" title="" data-original-title="Editar" ng-click="crossTopicsCtrl.editCrossTopic(crossTopic.idTemaTransversal)"></i>
            </td>
            <td class="colum-action">
              <i class="glyphicon glyphicon-remove" aria-hidden="true" title="Eliminar" data-toggle="modal" data-target="#crossTopicAlert" data-original-title="Eliminar" ng-click="crossTopicsCtrl.topicForDelete(crossTopic.idTemaTransversal)"></i>
            </td>
          </tr>
        </tbody>
      </table>
      <alertmodal modal-id="crossTopicAlert" modal-title="Aviso" modal-body="Se va a eliminar el tema transversal. ¿Continuar?" on-accept="crossTopicsCtrl.deleteCrossTopicById()"></alertmodal>
    </div>
    </div>
    
  </div>
</div>
