<div class="contentNewProyect">{{formCtrl.title}}</div>
<div class="contentFormProyect admin">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <form role="form" ng-submit="formCtrl.submit()">
        <div class="form-group col-md-12 agrupador form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control form-group" id="name" maxlength="512" placeholder="Ingresar nombre" ng-model="formCtrl.currentCrossTopic.temaTransversal" required>
        </div>
      <button type="submit" class="btn btn-success">Guardar</button>
      <button type="button" class="btn btn-default right" ng-click="formCtrl.cancel()">Cancelar cambios</button>
    </form>
  </div>
</div>
