<header class="navbar navbar-primary navbar-top">
  <div class="container contentApp">
    <div class="row">
      <div class="col-md-6 col-sm-6" id="header">
        <a class="navbar-brand bac-header" href="index.html">Buenos Aires Ciudad</a>
      </div>
      <div class="col-md-6 col-sm-6">
        <h5 class="sub-brand">Plataforma Integral de Gestión</h5>
      </div>
    </div>
  </div>
</header>
<navigationmenu></navigationmenu>
<main class="main-container" role="main">
  <main ui-view></main>
</main>
