/*FUENTE*/

@font-face {
    font-family: 'montserratblack';
    src: url('fonts/montserrat-black-webfont.eot');
    src: url('fonts/montserrat-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-black-webfont.woff2') format('woff2'),
         url('fonts/montserrat-black-webfont.woff') format('woff'),
         url('fonts/montserrat-black-webfont.ttf') format('truetype'),
         url('fonts/montserrat-black-webfont.svg#montserratblack') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserrat-bold-webfont.eot');
    src: url('fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-bold-webfont.woff') format('woff'),
         url('fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratextra_bold';
    src: url('fonts/montserrat-extrabold-webfont.eot');
    src: url('fonts/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-extrabold-webfont.woff') format('woff'),
         url('fonts/montserrat-extrabold-webfont.ttf') format('truetype'),
         url('fonts/montserrat-extrabold-webfont.svg#montserratextra_bold') format('svg');
    font-weight: normal;
    font-style: normal;
 
}




@font-face {
    font-family: 'montserrathairline';
    src: url('fonts/montserrat-hairline-webfont.eot');
    src: url('fonts/montserrat-hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-hairline-webfont.woff2') format('woff2'),
         url('fonts/montserrat-hairline-webfont.woff') format('woff'),
         url('fonts/montserrat-hairline-webfont.ttf') format('truetype'),
         url('fonts/montserrat-hairline-webfont.svg#montserrathairline') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.eot');
    src: url('fonts/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff'),
         url('fonts/montserrat-light-webfont.ttf') format('truetype'),
         url('fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.eot');
    src: url('fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff'),
         url('fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratsemi_bold';
    src: url('fonts/montserrat-semibold-webfont.eot');
    src: url('fonts/montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-semibold-webfont.woff2') format('woff2'),
         url('fonts/montserrat-semibold-webfont.woff') format('woff'),
         url('fonts/montserrat-semibold-webfont.ttf') format('truetype'),
         url('fonts/montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'montserratultra_light';
    src: url('fonts/montserrat-ultralight-webfont.eot');
    src: url('fonts/montserrat-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat-ultralight-webfont.woff2') format('woff2'),
         url('fonts/montserrat-ultralight-webfont.woff') format('woff'),
         url('fonts/montserrat-ultralight-webfont.ttf') format('truetype'),
         url('fonts/montserrat-ultralight-webfont.svg#montserratultra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*ESTILOS*/

body {
    background-color: #111!important;
    height: 100%;
    font-family: 'montserratlight'!important;
}
html {
    background-color: #fff;
    height: 100%;
}
body>div {
    min-height: 100%;
    margin-bottom: -126px;
}
body>div:after {
    content: "";
    display: block;
    height: 126px;
}
.left {
    float: left;
}
.right {
    float: right;
}
#header .bac-header {
    background-image: url(../logo.png)!important;
}
.main-container {
    padding-top: 0!important;
    padding-bottom: 0!important;
    height: 100%
}
.main-container.login {
    background-image: url(../educacion4.png);
    background-position: center;
}
.contentSearch {
    margin-bottom: 0;
}
.breadcrumb {
    padding: 0;
    margin-bottom: 0;
}
hr {
    margin-top: 15px;
    margin-bottom: 15px;
}
.noMargin {
    margin: -5px 0 10px 0 !important;
}
footer {
    height: 126px;
}
.footer {
    padding: 20px 0!important;
}
button {
    margin: 5px 5px 5px 0;
}
#inputFile {
    display: none;
}
.navbar-default {
    margin-bottom: 0;
    background: #dcdcdc;
    width: 100%;
}
.navbar-default.scroll {
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}
.inputMision {
    background: transparent;
    border: none;
    text-align: center;
    color: #fff;
    width: 80%;
    margin: 0 auto;
}
.img-chevron-down {
    transition: all .3s ease;
    background-image: url(../collapse.png);
    width: 17px;
    height: 12px;
    float: right;
    cursor: pointer;
}
.collapsed.img-chevron-down {
    transform: rotate(180deg);
}
.verticalCenter {
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 5px;
}
.relativeContent {
    position: relative;
}
.absoluteContent {
    position: absolute;
}
.containerLabels {
    margin-bottom: 15px;
    float: left;
}
.labels .agrupador {
    float: left!important;
}

/*LOGIN*/

.login .panel-default {
    width: 660px;
    margin: 0 auto;
    opacity: .9;
    background-color: #58bcff;
    border-radius: 18px;
    padding: 30px 80px;
}
.login .panel-default>.panel-heading {
    background: none;
    border-bottom: none;
    color: #fff;
}
.login .panel-default>.panel-heading p {
    font-family: 'montserratbold';
}
.login .panel-body {
    background: none;
}
.login input {
    background: #58bcff;
}
.login .form-control {
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    background: none;
    text-align: center;
    color: #fff!important;
    box-shadow: 0 0 0px 1000px #58bcff inset;
    -webkit-box-shadow: 0 0 0px 1000px #58bcff inset;
    -moz-box-shadow: 0 0 0px 1000px #58bcff inset;
    font-size: 20px;
    font-family: 'montserratultra_light';
}
.login .form-control:focus {
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    background: none;
    -webkit-box-shadow: 0 0 0px 1000px #58bcff inset;
}
.login .form-control::-webkit-input-placeholder {
    color: #fff!important;
}
.login .form-control::-moz-placeholder {
    color: #fff!important;
}
.login input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #58bcff inset;
    -webkit-text-fill-color: #fff;
}
.login input[type="text"] {
    background-color: none;
    color: #fff!important;
}
.login label {
    text-align: center;
    width: 100%;
    color: #fff;
    font-family: 'montserratultra_light';
}
.login .hello {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 0;
    font-family: 'montserratsemi_bold';
}
.login .tab-content {
    padding: 70px 0;
}
.login button {
    width: auto;
    float: right;
    background: #fff;
    border: #fff;
    color: #00a298;
    box-shadow: none;
}
.login button:hover, .login button:active, .login button:focus {
    background: #fff;
    border: #fff;
    color: #00a298;
    box-shadow: none;
    opacity: .9;
}
.login .form-group {
    margin-bottom: 5px;
}

/*NAVBAR*/

.navbar {
    margin-bottom: 0!important;
    background-color: #fff!important;
}
.navbar-nav {
    font-size: 13px;
}
.navbar-nav li {
    cursor: pointer;
}
.navbar-primary {
    background-color: #00a298!important;
    background-image: none!important;
    min-height: 60px!important;
}
.navbar-top h5.sub-brand {
    color: #fff!important;
    text-transform: none!important;
}
.navbar-default .navbar-nav>.active>a {
    background-color: #e7e7e7!important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    color: #888!important;
}
.navbar-top .container.contentApp {
    margin-top: 5px;
}
.navbar .form-control::-webkit-input-placeholder {
    color: #969696!important;
}
.navbar .form-control::-moz-placeholder {
    color: #969696!important;
}
.navbar.navbar-default .navbar-nav>li>a {
    color: #000;
}
.navbar-default.scroll .contentMenu {
    /*border-bottom: 1px solid #52bbff;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.navbar-default .navbar-nav>li>a.menuExit {
    color: #52bbff;
}
.navbar .separador {
    padding-top: 13px;
}
.navbar-form.navbar-right {
    margin: 7px 15px 0 15px
}
.navbar-form .form-control, .navbar-form .form-control:focus, .searchStyle .form-control, .searchStyle .form-control:focus {
    width: 195px!important;
    border: none;
    color: #000!important;
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}
.navbar-default {
    margin-bottom: 0;
    background-color: #fff!important;
    border: none!important
}
.navbar-form .btn-default, .searchStyle .btn-default {
    background: none;
    border: none;
    box-shadow: none;
    color: #000;
}
.navbar-form .btn-default:hover, .navbar-form .btn-default:focus, .navbar-form .btn-default:active, .searchStyle .btn-default:hover, .searchStyle .btn-default:focus, .searchStyle .btn-default:active {
    background: none;
    border: none;
    box-shadow: none;
    color: #000;
    opacity: .9;
}

/*JUMBOTRON*/

.jumbotron {
    background-image: url(../imgVector.png);
    padding-bottom: 0!important;
}
.jumbotron h1 {
    font-size: 35px !important;
}
.jumbotron p {
    font-size: 14px !important;
}
.jumbotron .mision {
    margin-bottom: 0;
}
.jumbotron-main .navbar-default .dropdown-menu li a:focus {
    color: #888;
}
.notPadding {
    padding: 0!important;
}
.jumbotron-main .btn {
    opacity: .8;
}
.jumbotron-main {
    text-shadow: none!important;
}
.title {
    color: #58bcff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Gotham", Helvetica, Arial, sans-serif;
    letter-spacing: -0.5px;
}
.title-jurisdiccion {
    color: #fff;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}
.glyphicon-edit {
    color: #4265bc!important;
}
.exit {
    font-style: italic;
    color: #6a6a6a;
}
.user .dropdown-menu {
    width: auto;
    min-width: 100%!important;
}
.section-img {
    background-image: url(../educacion4.png);
    width: 100%;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-img .container {
    text-align: center;
    padding-top: 70px;
}
.mision {
    color: #fff;
    width: 80%;
    margin: 0 auto;
}
.obrasList {
    margin-top: 15px;
}
.itemObra {
    cursor: pointer;
    height: 35px;
    background: #e6e6e6;
    border: 1px solid #cccccc;
    margin-bottom: 0px !important;
    text-transform: uppercase;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: bold !important;
    padding: 8px;
}
.nameYear {
    margin-top: 0;
    margin-bottom: 5px;
    color: #fff;
}
.firstLabel {
    font-size: 15px;
}
.secondLabel {
    font-size: 14px;
}
.thirdLabel {
    font-size: 14px;
    font-weight: bold;
}
.thirdLabel .icEdit {
    display: inline-block;
    top: 4px;
    position: relative;
}
.thirdLabel .nameObj {
    padding-right: 0;
    cursor: pointer;
    text-decoration: underline;
    color: #215093;
    /*color: #58bcff;*/
    /*float: left;*/
}
.content-level-1 li, .abm-list li, .listPreviewProject {
    list-style: none;
}
.listProject {
    clear: left;
    width: 100%;
    float: left;
}
.content-level-1 ul {
    padding-left: 10px;
}
.firstLabel i, .secondLabel i {
    cursor: pointer;
}
.contentFormProyect.sectionForm {
    margin-top: 0;
}
.sectionForm .contentLine {
    padding-right: 0;
    clear: left;
}
.obj-estrategico {
    margin-top: 0;
}
.contentObjOp{
    /*float: left;*/
    margin-right: 20px;
}
.contentObjOp .nameObj {
    padding-right: 0;
}
.name-btn {
    font-size: 11px;
}
.glyphicon-th-list {
    color: #3f90d8!important
}
.contentTotal i {
    left: 12px;
}
.contentTotal .input {
    margin-left: 13px;
}
.totalPresupuesto {
    text-align: right;
    padding-top: 7px;
    font-size: 14px;
}
.contentTotal.totalPresupuesto {
    padding-right: 0!important;
}
label {
    text-transform: uppercase;
    color: #6c6c6c;
    font-size: 12px;
}
.option {
    text-transform: none;
    color: #000;
    font-size: 14px;
    margin-right: 15px;
}
.viewArbol {
    padding-left: 10px;
}
.btn-arbol {
    float: right;
    margin: 0;
}
.newProyect {
    float: left;
    margin-top: 18px;
}
.formNewProyect {
    background: #f5f5f5;
    padding: 15px;
    border: 1px solid #ddd;
    width: 98%;
    float: right;
}
.formNewProyect span {
    font-size: 14px;
    font-weight: bold;
}
.formNewProyect .thirdLabel {
    margin: 0;
}
.glyphicon-cog {
    font-size: 16px!important;
    color: #676767;
    margin: 0 8px;
}
.removeProyect {
    float: right;
    padding-top: 5px;
}
.newObj {
    margin-bottom: 10px;
}
input[type=file] {
    font-size: 14px;
}
.description {
    font-size: 12px;
    color: #000;
}
.description span {
    font-size: 12px;
    color: #838383;
    font-weight: 700;
}
.titleInfoProyect {
    font-size: 12px;
    color: #afafaf;
    text-transform: uppercase;
}
.numberProyect {
    font-weight: bold;
    font-size: 14px;
}
.content-level-1 {
    padding: 0;
    margin-bottom: 0;
}
.content-button {
    text-align: right;
}
.content-button button {
    margin: 0;
}
.lineProyect {
    margin-top: 0px;
    margin-bottom: 5px;
}
.line-inner-proyect {
    margin: 5px 0;
    border-top: 1px dashed #ccc;
}
.date {
    font-size: 12px;
    color: #000;
    padding-top: 5px;
}
.end-date {
    padding-right: 43px;
}
.register {
    font-size: 16px;
    color: #919191;
    font-weight: 700;
    margin: 10px 0;
}
.title-year {
    margin-top: 5px;
    font-family: "Gotham", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 30px;
    color: #58bcff;
    float: left;
}
.lineColor {
    border-color: #58bcff;
    margin-top: 0;
}
.uploadImport .titleProgress {
    font-size: 14px;
    font-weight: bold;
    font-size: 18px;
}
.uploadImport .contentDate, .uploadImport .box-date {
    width: 190px;
}
.uploadImport .contentDate, .resultImport .contentDate {
    padding-top: 0;
}
.uploadImport .reference {
    float: left;
    clear: left;
}
.uploadImport .proyectList, .resultImport .proyectList {
    float: left;
    clear: left;
    margin: 0;
}
.uploadImport .contentListProyect {
    margin-bottom: 20px;
}
.uploadImport .reference .opcional {
    font-weight: normal;
}
.uploadImport .progress-bar {
    width: 100%
}
.uploadImport .titlePreviewProyect {
    width: 100%;
    margin-top: 25px;
}
.contentUploadImport {
    margin-top: 20px;
    float: left;
}
.previewProyect {
    float: left;
    font-size: 23px;
    margin: 35px 0 10px 0;
}
.resultImport .previewProyect img {
    width: 20px;
    float: left;
}
.resultImport hr {
    margin: 5px 0;
}
.lineContentProyect {
    margin: 5px 0;
}
.contentDate {
    float: right;
    width: 300px;
    padding-top: 5px;
}
.box-date {
    float: right;
    width: 300px;
}
.contentDate .title, .box-date .date {
    width: 95px;
}
.contentDate .title {
    margin: 0;
}
.resultImport .contentDate, .resultImport .box-date {
    width: 300px;
}
.resultImport .alert {
    float: left;
}
.resultImport .alert-text {
    width: 65%;
    float: left;
}
.menuExcel .dropdown-toggle {
    width: 55px;
    margin-left: 25px;
    padding-right: 45px;
}
.menuExcel img {
    float: left;
}
.menuExcel .btn-default:hover {
    border-color: #58bcff;
    color: #58bcff;
}
.menuExcel .caret {
    background-image: url(../desplegar.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 20px!important;
    height: 15px!important;
    top: 10px;
    border: none!important;
}
.menuExcel {
    float: left;
    margin-left: 15px;
}
.menuExcel img, .alert-info img {
    width: 20px!important;
}
.content-first-btn {
    margin: 10px 0;
}
.glyphicon-usd {
    float: left;
    top: 10px !important;
}
.btn-presupuesto {
    margin: 0;
    float: left;
    margin: 0 15px;
}
.default-content {
    background: #e8e8e8;
    color: #000;
    padding: 10px 15px;
    border-bottom: 1px solid #d6d6d6;
}
.colorObjOperativo {
    background: #fff;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    cursor: pointer;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
}
.info {
    text-align: left;
    padding: 5px 0;
}
.title-import-excel {
    font-size: 20px;
    margin: 15px 0 8px 0;
}
.title-help {
    margin-bottom: 0;
    font-weight: 700;
}
.content-import {
    border: 1px dashed #215093;
    padding: 20px;
    text-align: center;
}
.content-import p {
    font-size: 18px;
}
.reference {
    font-size: 12px;
    color: #6c6c6c;
}
.help-block {
    font-size: 12px;
    clear: left;
    color: #6c6c6c;
    font-style: italic;
}
#exampleInputFile {
    color: #000;
    float: left;
    padding-top: 5px;
}
.opcional {
    font-style: italic;
    font-size: 13px;
    text-transform: lowercase;
    font-family: "OpenSansRegular", Helvetica, Arial, sans-serif;
    color: #333;
}
.title-total {
    text-align: right;
    padding-top: 4px;
    font-size: 16px;
    color: #000;
}
.content-action {
    float: right;
}
.content-actionForm {
    margin-bottom: 20px;
    margin: 0 auto;
}
.content-actionForm .btn {
    /*min-width: 160px;*/
    min-height: 35px;
}
.content-actionForm i {
    float: left;
}
.content-actionForm span {
    font-size: 12px;
}
.content-actionForm .glyphicon-remove {
    font-size: 13px;
    color: #d04848;
    margin-top: 2px;
    cursor: pointer;
}
.content-actionForm .glyphicon-transfer {
    font-size: 15px;
    color: #6faf29;
    margin-top: 3px;
}
.content-actionForm .glyphicon-th-list {
    margin-top: 2px;
}
.content-actionForm .caret {
    float: right;
    margin-top: 9px;
}
.contentFormProyect .btn {
    margin: 0;
}
.contentTag {
    border: 1px solid #cecece;
    width: 100%;
    padding: 15px 0;
    float: left;
    background: #d8d8d8;
    margin: 0;
}
.tagProyect {
    margin-right: 15px;
    font-size: 12px;
    background: #f6f6f6;
    width: auto;
    padding: 2px 15px;
    float: left;
}
.tagProyect i {
    font-size: 11px;
    color: #d04848;
    top: 2px;
}
.contentTag .line-inner-proyect {
    margin: 8px 0;
}
.contentTag .line-inner-proyect {
    border-top: 1px dashed #989898;
}
.titleMenu {
    font-size: 12px;
    color: #a0a0a0;
}
.titleMobile {
    display: none;
}
.content-dateProyect {
    float: left;
    margin: 0 15px;
}
.abm-list {
    padding-left: 0;
}
.name-item {
    padding-top: 8px;
}
.btn-item {
    text-align: right;
}
.btn-item .btn.active {
    color: #7cbb37;
}
.btn-item .btn.no-active {
    color: #f34f4f;
}
.btn-default {
    margin: 0;
    box-shadow: none!important;
    background: #fff!important;
    background-image: none!important;
}
.page-info {
    background: #fbfbfb;
    padding-bottom: 0px;
    margin: 0 0 15px 0;
}
.default-page {
    border-bottom: 2px solid #f1f1f1;
}
.select-page {
    border-bottom: 2px solid #669e2b;
}
.select-text {
    color: #fff!important;
}
.select-content {
    color: #fff;
    padding-bottom: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#90b328), to(#669e2b));
    background-image: -webkit-linear-gradient(top, #90b328 0%, #669e2b 100%);
    background-image: linear-gradient(to bottom, #90b328 0%, #669e2b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#90b328', endColorstr='#669e2b', GradientType=0);
    background-color: #669e2b;
    border-color: #608835;
}
.content-obj {
    margin-bottom: 15px;
}
.add-line {
    margin-bottom: 10px !important;
}
.action-collapse {
    margin: 0;
    float: right;
    color: #58bcff!important;
    text-decoration: none!important;
}
.action-collapse .glyphicon {
    font-size: 12px;
}
.attach {
    font-size: 14px;
    padding-bottom: 5px;
}
.glyphicon-remove {
    border-radius: 20px;
    padding: 2px;
    color: #d04848;
    font-size: 9px;
    margin: 0 5px;
    border: 3px solid #d04848;
    cursor: pointer;
}
.glyphicon-remove:hover {
    color: #fff;
    border: 3px solid #d04848;
    background: #d04848;
}
.obj-estrategico .glyphicon-remove {
    top: -3px;
    position: relative;
    margin: 0 2px;
}
.attach span {
    cursor: pointer;
    font-style: italic;
    color: #52bbff;
    text-decoration: underline;
}
#buttonFile.btn-default, .addBtn .btn-default, #buttonObra.btn-default, #buttonHito.btn-default {
    background: none!important;
    border: none;
    padding: 15px 0;
}
.alert {
    margin-bottom: 5px;
    width: 100% !important;
}
.incomplete {
    color: #844c26;
    background-color: #ffefde;
    padding: 0 5px;
    font-weight: 800;
}
.complete {
    color: #456225;
    font-weight: 800;
}
.validate {
    color: #0d605c;
}
.alert i {
    margin-right: 5px;
}
.reporte-plan {
    margin: 0 0 15px 0;
    color: #844c26;
    text-decoration: underline;
}
.contentFormProyect .btn-success {
    margin: 0 15px 0 0;
}
.modal-footer .btn-ok, .modal-footer .btn-ok:focus {
    color: #fff;
}
.modal-footer .btn-ok:hover {
    color: #fff;
    opacity: .9;
}
.btn-success, .modal-footer .btn-ok {
    background-image: none!important;
    background-color: #00a298!important;
    border-color: #00a298!important;
    box-shadow: none!important;
}
.btn-success:hover {
    opacity: .9;
}
.btn-success i {
    color: #fff;
    font-size: 12px;
}
.btn-default i {
    color: #666;
    font-size: 12px;
}
.uib-day .btn-info.active:hover, .uib-month .btn-info.active:hover, .uib-year .btn-info.active:hover {
    color: #1b6d85;
}
.dropdown-menu {
    min-width: 200px;
    padding: 5px!important;
}
.dropdown-menu.columns-2 {
    min-width: 400px;
}
.dropdown-menu.columns-3 {
    min-width: 600px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.dropdown-menu.dropEstado a {
    cursor: pointer;
}
.multi-column-dropdown {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #888;
    background-color: #e5e5e5;
}
.alert-success {
    float: left;
}
.alert-text {
    width: 75%;
    float: left;
}
.alert-success button {
    float: right;
}
.text-newProyect {
    margin-bottom: 8px;
    opacity: .5;
}
.toggle.btn {
    min-height: 30px!important;
}
.toggle-off {
    font-size: 12px;
}
#header .bac-header {
    background-image: url(https://gcba.github.io/BAstrap/bastrap3/bac-header.svg);
}
#footer .bac-footer {
    background-image: url(https://gcba.github.io/BAstrap/bastrap3/bac-footer.svg);
}
.dragover {
    border: 1px solid #000;
}
.carousel-card {
    background: #fff;
    height: 300px;
}

/* start 'enter' transition on main view */

main.ng-enter {
    /* transition on enter for .5s */
    transition: .8s;
    /* start with opacity 0 (invisible) */
    opacity: 0;
}

/* end 'enter' transition on main view */

main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
}
.pageContanerCustom {
    width: 100%;
    margin: auto;
    background: #fff;
    padding: 30px;
}
.pageContanerCustom .item {
    width: 80vw!important;
    margin: 0 auto;
    padding: 0 15px;
}
#notifications notification {
    float: left;
    width: 100%;
}
tags-input .tags {
    margin-top: -5px !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
}
.agrupador tags-input .tags .tag-item .remove-button:active {
    color: #f1f1f1;
}
.force-display li a:focus {
    color: #888;
}
.force-display {
    display: block !important;
    min-width: 200px;
    padding: 5px!important;
}
.force-display.columns-2 {
    min-width: 400px;
}
.force-display.columns-3 {
    min-width: 600px;
}
.force-display li a {
    padding: 5px 15px;
    font-weight: 300;
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
    text-decoration: none;
}
.usig_acv div.footer {
    display: none;
}
.agrupador .ic-title {
    width: 25px;
    height: 25px;
    float: left;
    top: 2px;
    position: relative;
}
.ic-title.ic-infoInicial {
    background-image: url(../ic-infoInicial.png);
}
.ic-title.ic-presupuesto {
    background-image: url(../ic-presupuesto.png);
}
.ic-title.ic-responsabilidad {
    background-image: url(../ic-responsabilidad.png);
}
.ic-title.ic-ubicacion {
    background-image: url(../ic-ubicacion.png);
}
.ic-title.ic-adjuntar {
    background-image: url(../ic-adjuntar.png);
}
.ic-title.ic-poblacion {
    background-image: url(../ic-poblacion.png);
}
.ic-title.ic-caminoCritico {
    background-image: url(../ic-caminoCritico.png);
}
.ic-title.ic-expediente {
    background-image: url(../ic-expediente.png);
}
.ic-title.ic-fechas {
    background-image: url(../ic-fechas.png);
}
.ic-title.ic-meta {
    background-image: url(../ic-meta.png);
}
.ic-title.ic-fuente {
    background-image: url(../ic-fuente.png);
}
.ic-title.ic-relacionar {
    background-image: url(../ic-relacionar.png);
}
#buttonFile .icNew, .addBtn .icNew, #buttonObra .icNew, .addBtn .icNew, #buttonHito .icNew, .addBtn .icNew {
    float: left;
    left: -4px;
    position: relative;
}
#buttonFile span, .addBtn span, #buttonObra span, #buttonHito span {
    top: 3px;
    position: relative;
}
.agrupador tags-input .tags .tag-item {
    background: #52bbff;
    border: none;
    color: #fff;
}
.agrupador tags-input .tags .tag-item.selected {
    background: #ff5c5c;
}
.agrupador tags-input .tags .tag-item .remove-button {
    color: #fff;
    text-decoration: none;
}
.agrupador input, .agrupador select, .agrupador tags-input .tags, .agrupador textarea {
    box-shadow: none!important;
}
.titleProgress {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
.centerProgress {
    margin: 0 auto!important;
    float: none!important;
}
.dataProgress {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*.contentButtonRight {
    width: 85% !important;
}*/

.fullButtonRight {
    width: 100% !important;
}
.estateClass {
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    padding: 1px 4px;
    min-width: 105px;
    font-size: 12px;
    float: left;
    margin-top: 3px;
    width: 105px;
}
.completoClass {
    color: #059561;
    background-color: #fff;
    border: 2px solid #059561;
}
.incompletoClass {
    color: #d70707;
    background-color: #fff;
    border: 2px solid #d70707;
}
.presentadoClass {
    color: #fff;
    background-color: #00a59d;
    border: 2px solid #00a59d;
}
.verificadoClass {
    color: #fff;
    background-color: #54b4ce;
    border: 2px solid #54b4ce;
}
.canceladoClass, .rechazadoClass, .aplazadoClass {
    color: #fff;
    background-color: #a3a3a3;
    border: 2px solid #a3a3a3;
}
.enPriorizacionClass {
    color: #fff;
    background-color: #f78600;
    border: 2px solid #f78600;
}
.preAprobadoClass {
    color: #9bc12b;
    background-color: #fff;
    border: 2px solid #9bc12b;
}
.aprobadoClass {
    color: #fff;
    background-color: #9bc12b;
    border: 2px solid #9bc12b;
}
.contentFormProyect .btn-success {
    margin: 0 15px 0 0;
}
.btn-success i {
    color: #fff;
    font-size: 12px;
}
.btn-default i {
    color: #666;
    font-size: 12px;
}
.colum-action {
    width: 80px;
    text-align: center;
}
.colum-action .line {
    top: 0;
}
th {
    text-transform: uppercase;
    color: #6c6c6c;
    font-size: 12px;
}
.table {
    margin-bottom: 0;
}
.colum-action .glyphicon-edit {
    padding-top: 2px;
}
.switch label {
    margin: 0 auto;
}
.alert-success {
    float: left;
}
.alert-text {
    width: 75%;
    float: left;
}
.alert-success button {
    float: right;
}
.text-newProyect {
    margin-bottom: 8px;
    opacity: .5;
}
.contet-report {
    margin-right: 15px;
    min-width: 205px;
    text-align: center;
    float: left;
    background: #e4e4e4;
    padding: 15px;
    border-radius: 4px;
    color: #6b6b6b;
    border: 1px solid #d4d4d4;
}
.contet-report strong {
    font-size: 45px;
}
.contet-report p {
    margin-bottom: 0;
}
.priorizacion button {
    margin-right: 15px;
}
.priorizacion .title {
    margin: 0 0 10px 0;
}
.pagePriorizacion .title {
    font-size: 14px;
    font-weight: bold;
}
.pagePriorizacion .principalBtn {
    margin-top: 15px;
}

/*Estilos toogle*/

input.cmn-toggle-round+label {
    padding: 2px;
    width: 49px;
    height: 22px;
    background-color: #dddddd;
    border-radius: 60px;
}
input.cmn-toggle-round+label:before, input.cmn-toggle-round+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.cmn-toggle-round+label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
}
input.cmn-toggle-round+label:after {
    width: 20px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: margin 0.4s;
}
input.cmn-toggle-round:checked+label:before {
    background-color: #8ce196;
}
input.cmn-toggle-round:checked+label:after {
    margin-left: 27px;
}
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.cmn-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}
.whiteColor {
    color: #fff !important;
}
.yellowBarModel {
    background-color: #FFB702 !important;
}
.errorForm {
    line-height: 85px;
    color: #a94442;
    font-size: 12px;
}
.errorForm.modal-obra {
    line-height: 15px;
}
.contentEje input[type=checkbox] {
    display: none;
}
.contentEje input[type=checkbox]+label {
    height: 160px;
    width: 118px;
    display: inline-block;
    padding: 0 0 0 0px;
    text-align: center;
    padding-top: 124px;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    cursor: pointer;
}
.contentEje input[type=checkbox]:checked+label {
    height: 160px;
    width: 118px;
    display: inline-block;
    padding: 0 0 0 0px;
    padding-top: 124px;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
    cursor: pointer;
}
.eje-1 input[type=checkbox]+label {
    background: url("../imgEjes/disfrute-bn.png") no-repeat;
}
.eje-1 input[type=checkbox]:checked+label {
    background: url("../imgEjes/disfrute.png") no-repeat;
}
.eje-2 input[type=checkbox]+label {
    background: url("../imgEjes/escalaHumana-bn.png") no-repeat;
}
.eje-2 input[type=checkbox]:checked+label {
    background: url("../imgEjes/escalaHumana.png") no-repeat;
}
.eje-3 input[type=checkbox]+label {
    background: url("../imgEjes/integracion-bn.png") no-repeat;
}
.eje-3 input[type=checkbox]:checked+label {
    background: url("../imgEjes/integracion.png") no-repeat;
}
.eje-4 input[type=checkbox]+label {
    background: url("../imgEjes/creatividad-bn.png") no-repeat;
}
.eje-4 input[type=checkbox]:checked+label {
    background: url("../imgEjes/creatividad.png") no-repeat;
}
.eje-1, .eje-2, .eje-3, .eje-4 {
    float: left;
    margin: 0 15px;
}
.jumbotron .containerTop {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
    width: 80vw;
    margin: auto;
}
.title-jurisdiccion i {
    font-size: 12px !important;
}
.title-jurisdiccion .img-chevron-down {
    background-image: url(../jumbotronDesplegar.png);
    float: left;
    position: absolute;
    height: 18px;
    margin-top: 2px;
    margin-left: 5px;
}
#dropdownExcel .dropdown-menu {
    margin-left: 25px;
}
.container.contentApp {
    width: 80vw!important;
}
.principalBtn .btn-success {
    margin-right: 15px;
}
.objOContent {
    margin-top: 8px;
}
.projectContent {
    margin-top: 8px;
    width: 100%;
    float: left;
    padding-left: 20px;
}
.notificationEmptyProject {
    color: #6a2121 !important;
    background-color: #f8e2e1;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    float: left;
    width: 100% !important;
}
.columnRight {
    float: left;
    width: 100%;
    /*max-width: 400px;*/
    max-width: 55%;
    padding-top: 5px;
}
.suggestion-list {
    overflow-y: scroll;
}
.titleOjEestrategico {
    color: #58bcff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    float: left;
}
.listProject .description {
    margin: 5px 0;
}
.obj-estrategico .indicador-remove {
    top: 6px;
}
.obj-estrategico .line-inner-proyect {
    margin: 0 0 5px 0;
}
.agrupador {
    background: #f5f5f5;
    padding: 15px;
    font-size: 22px;
    float: none!important;
    border-radius: 6px;
    color: #52bbff;
}
.agrupador .btn-default i, .agrupador .glyphicon-usd {
    color: #666;
    font-size: 12px!important;
}
.contentFormProyect {
    background: #fff;
    border: 2px solid #e8e8e8;
    padding: 15px 0!important;
    margin-bottom: 15px;
    float: left;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.contentNewProyect {
    background: #e8e8e8;
    border: 2px solid #e8e8e8;
    color: #333;
    text-transform: uppercase;
    padding: 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    float: left;
    width: 100%;
}
.titlePresupuesto {
    font-size: 14px;
    margin-bottom: 0;
}
#moverModal .titleMenu {
    font-size: 12px;
    color: #000;
    font-weight: bold;
}
#moverModal .titleMenu {
    font-size: 13px;
    color: #000;
    font-weight: bold;
}
#moverModal .titleOjEestrategico {
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 5px;
    float: none;
}
#moverModal .titleOjoperativo {
    padding: 5px 15px 0 15px;
    margin-bottom: 0;
    font-size: 12px;
}
#moverModal li a {
    font-size: 13px;
}
#moverModal .itemObj, .contentDetailProject .itemObj{
    background: #000;
    width: 6px;
    height: 6px;
    float: left;
    border-radius: 15px;
    margin-top: 6px;
    margin-right: 4px;
}
#moverModal .modal-body a {
    cursor: pointer;
}
.contentButtonRight button {
    float: right;
}
.selectedObj {
    background: #52bbff;
    cursor: pointer;
}
.selectedObj a, .selectedObj a i {
    color: #fff!important;
}
.contentNewProyect .alert-info {
    margin: 0 0 15px 0;
}
.btnRemove {
    color: #d04848!important;
    margin-left: 15px!important;
}
.contentButtonRight .btn-success {
    margin-right: 0;
}
.contentButtonRight .btn {
    margin: 5px 0;
}
.error-date {
    width: 100%;
    position: absolute;
    left: 15px;
    bottom: -15px;
}
.bottom-align {
    bottom: -50px;
}
#projectFormID {
    margin-top: 15px;
}
.dropEstado {
    width: 100%;
    top: 40px!important;
}
#archivoAImportar {
    width: 40%;
}
.icJurisdiccion {
    color: #52bbff;
}
.alert-danger i {
    color: #6a2121;
    float: right;
}
.alert-danger {
    float: left;
}
textarea {
    resize: vertical;
}
.uib-daypicker .btn-default.active, .uib-monthpicker .text-info, .uib-yearpicker .text-info {
    color: #52bbff;
}
.glyphicon-question-sign {
    font-size: 14px;
    cursor: pointer;
}
.icLupa {
    background-image: url(../lupa.png);
    width: 27px;
    height: 34px;
    float: left;
    border-bottom: 1px solid #000;
    background-repeat: no-repeat;
}
.icNew {
    background-image: url(../new.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    float: right;
}
.icNew:hover {
    background-image: url(../newHover.png);
}
.btnNew {
    border: none!important;
    padding: 0 15px!important;
    top: -2px;
    position: relative;
    background: none!important;
}
.btnNew span {
    top: 3px;
    position: relative;
    right: 2px;
}
.contentName {
    min-height: 34px;
    padding: 5px 0;
}
.contentName button {
    top: -3px;
}
.icEdit {
    background-image: url(../pencil.png);
    width: 25px;
    height: 25px;
    margin-top: -3px;
    cursor: pointer;
}
.icEdit:hover {
    background-image: url(../pencilHover.png);
}
.icEditWhite {
    background-image: url(../pencil-white.png);
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top: -4px;
    cursor: pointer;
}
.icEditWhite:hover {
    background-image: url(../pencilHover-white.png);
}
.nameObj {
    padding-right: 50px;
    cursor: pointer;
}
.slice .c100.coloGreen .bar, .c100.coloGreen .fill, .c100 .bar {
    border-color: #00a298 !important;
}
.c100.centerProgress.coloGreen>span {
    color: #00a298;
}
input.cmn-toggle-round:checked+label:before {
    background-color: #00a298;
}
.colum-action .icEdit {
    width: 100%;
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
}
.progress .progress-bar-warning {
    background-image: none;
    background-color: #52bbff;
    border-color: #52bbff;
}
.modal-header {
    background: #52bbff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #fff;
}
.modal-header .close {
    color: #000;
}
div.jqi .jqititle {
    border-bottom: solid 1px #52bbff!important;
    margin-bottom: 5px;
}
.jqibutton.jqidefaultbutton {
    background: #00a298!important;
    color: #fff!important;
    border-bottom-right-radius: 6px!important;
}
.pagePriorizacion .principalBtn>button {
    margin-right: 15px;
}
.captcha>div {
    margin: 0 auto;
}
.captcha {
    padding: 0 0 15px 0;
}
.menuIcon {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    color: #52bbff;
    cursor: pointer;
}
.menuIcon:hover {
    opacity: .8;
}
.sidr {
    display: block;
    position: absolute;
    /*height: 100%;*/
    z-index: 100;
    width: 20%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 15px;
    /*background: #f8f8f8;*/
    color: #333;
    /*box-shadow: 0 0 5px 5px #ebebeb inset;*/
    padding: 30px 15px;
}
.sidr .sidr-inner {
    padding: 0 0 15px;
}
.sidr .sidr-inner>p {
    margin-left: 15px;
    margin-right: 15px;
}
.sidr.right {
    left: auto;
    right: -20%;
}
.sidr.left {
    left: -20%;
    right: auto;
}
.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RmZGZkZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dfdfdf));
    background-image: -moz-linear-gradient(#ffffff, #dfdfdf);
    background-image: -webkit-linear-gradient(#ffffff, #dfdfdf);
    background-image: linear-gradient(#ffffff, #dfdfdf);
    font-size: 11px;
    font-weight: normal;
    padding: 0 15px;
    margin: 0 0 5px;
    color: #333;
    line-height: 24px;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
}
.sidr p {
    font-size: 13px;
    margin: 0 0 12px;
}
.sidr p a {
    color: rgba(51, 51, 51, 0.9);
}
.sidr>p {
    margin-left: 15px;
    margin-right: 15px;
}
.sidr ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    border-top: 1px solid #b5b5b5;
}
.sidr ul li {
    display: block;
    margin: 0;
    line-height: 48px;
    border-bottom: 1px solid #b5b5b5;
    margin-top: 15px;
}
.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
    border-top: 0;
    line-height: 49px;
}
.sidr ul li:hover>a, .sidr ul li:hover>span, .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span {
    box-shadow: 0 0 15px 3px #ebebeb inset;
}
.sidr ul li a, .sidr ul li span {
    padding: 0 15px;
    display: block;
    text-decoration: none;
    color: #333;
}
.sidr ul li ul {
    border-bottom: 0;
    margin: 0;
}
.sidr ul li ul li {
    line-height: 40px;
    font-size: 13px;
}
.sidr ul li ul li:last-child {
    border-bottom: 0;
}
.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
    border-top: 0;
    line-height: 41px;
}
.sidr ul li ul li:hover>a, .sidr ul li ul li:hover>span, .sidr ul li ul li.active>a, .sidr ul li ul li.active>span, .sidr ul li ul li.sidr-class-active>a, .sidr ul li ul li.sidr-class-active>span {
    box-shadow: 0 0 15px 3px #ebebeb inset;
}
.sidr ul li ul li a, .sidr ul li ul li span {
    color: rgba(51, 51, 51, 0.8);
    padding-left: 30px;
}
.sidr form {
    margin: 0 15px;
}
.sidr label {
    font-size: 13px;
}
.sidr input[type="text"], .sidr input[type="password"], .sidr input[type="date"], .sidr input[type="datetime"], .sidr input[type="email"], .sidr input[type="number"], .sidr input[type="search"], .sidr input[type="tel"], .sidr input[type="time"], .sidr input[type="url"], .sidr textarea, .sidr select {
    width: 100%;
    font-size: 13px;
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 10px;
    border-radius: 2px;
    border: 0;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(51, 51, 51, 0.6);
    display: block;
    clear: both;
}
.sidr input[type=checkbox] {
    width: auto;
    display: inline;
    clear: none;
}
.sidr input[type=button], .sidr input[type=submit] {
    color: #f8f8f8;
    background: #333;
}
.sidr input[type=button]:hover, .sidr input[type=submit]:hover {
    background: rgba(51, 51, 51, 0.9);
}
.styleMenu {
    position: relative !important;
}
.sidr-open {
    left: 0 !important;
}
.sidr .title {
    text-transform: none;
    font-size: 14px;
    padding: 0;
    line-height: 25px;
    font-weight: normal;
}
.sidr .verticalCenter {
    position: relative;
    top: 6px;
    right: 0;
    margin-top: 0;
}
.sidr label, .sidr .checkbox {
    line-height: 20px;
    text-transform: none;
    color: #333;
}
.sidr .scroll {
    overflow-y: auto;
    height: auto;
    max-height: 210px;
}
.sidr .input-group {
    margin-bottom: 0
}
.sidr .btn-default {
    top: -7px;
}
.sidr .input-group .form-control {
    box-shadow: none!important;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}
.sidr #grupo-presupuesto .form-control {
    border-radius: 4px!important;
    width: 188px
}
.contentFilter {
    padding: 15px;
    background: #e8e8e8;
    border-radius: 6px;
}
.contentFilter span {
    font-weight: bold;
}

/*ETIQUETAS*/

.thirdLabel .glyphicon-tag {
    color: #58bcff;
    top: 0!important;
    /*float: left;*/
    margin: 0 5px;
}
.thirdLabel .glyphicon-tag:hover {
    opacity: .8;
}
.labelStyle {
    float: left;
    border-radius: 5px;
    margin: 0px 5px 5px 0;
    padding: 5px;
    background: #ee801f;
    color: #fff;
}
.labelStyle span {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.labelStyle .remove-button {
    margin: 0 0 0 5px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    vertical-align: middle;
    font: bold 16px Arial, sans-serif;
    text-decoration: none;
    color: #fff;
}
.formLabels .tags {
    box-shadow: none!important;
}

/*Estado*/

.formEstado {
    background: #f5f5f5;
    padding: 15px;
    font-size: 22px;
    border-radius: 6px;
    color: #52bbff;
    float: left;
    margin: 15px 0;
}
.formEstado .inputPresupuesto {
    float: right;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.formEstado .glyphicon-usd {
    float: left;
    color: #666;
    font-size: 12px;
}
.formEstado .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.formEstado .alert-info {
    float: left;
    font-size: 12px;
    margin-bottom: 0;
}
.textBold{
    font-weight: bold;
    font-size: 14px!important;
}

/*VISTA PROYECTO*/
.viewProject .contentDirection {
    margin-top: 15px;
}
.viewProject .agrupador p {
    font-size: 12px;
    color: #333;
    margin: 0;
}
.contentClear {
    clear: left;
}
.viewEje {
    width: 50px;
    display: inline-block;
    padding: 0 0 0 0px;
    text-align: center;
    padding-top: 55px;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    text-transform: capitalize;
}
.viewProject .eje-1 {
    background: url("../imgEjes/disfrute.png") no-repeat;
    background-size: 50px;
}
.viewProject .eje-2 {
    background: url("../imgEjes/escalaHumana.png") no-repeat;
    background-size: 50px;
}
.viewProject .eje-3 {
    background: url("../imgEjes/integracion.png") no-repeat;
    background-size: 50px;
}
.viewProject .eje-4 {
    background: url("../imgEjes/creatividad.png") no-repeat;
    background-size: 50px;
}
.viewProject .glyphicon-usd {
    top: 3px !important;
}
.viewProject .totalPresupuesto {
    margin-bottom: 0;
    text-align: left;
}
.viewProject .subtotal {
    padding-top: 7px!important;
    margin-bottom: 0;
    font-weight: bold;
}
.viewProject .contentTotal .subtotal {
    padding-bottom: 7px;
}
.viewProject .contentTotal i {
    left: 0;
    top: 5px!important;
}
.viewProject .contentTotal p {
    font-size: 16px;
}
.viewProject .contentTotal {
    background: #e2e2e2;
    padding: 0;
    width: 100%;
    float: left;
    clear: left;
}
.textLink {
    text-decoration: underline;
    font-style: italic;
    color: #58bcff!important;
    cursor: pointer;
}
.contentEtiquetas {
    background: #52bbff;
    border: none;
    color: #fff;
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 26px;
    line-height: 25px;
    border-radius: 4px;
}
.estateView .estateClass {
    float: none;
    margin-left: 15px;
}
.estateView {
    text-align: center;
}
.etiquetasProject {
    background: #f78600;
}
.formEstado p {
    font-size: 12px;
    color: #333;
    margin: 0;
}
.formViewEtiquetas {
    background: #f5f5f5;
    padding: 15px;
    float: left!important;
    border-radius: 6px;
    color: #52bbff;
    margin: 15px 0;
}
.formViewEtiquetas:first-child {
    margin-top: 0;
}
.formViewEtiquetas .containerLabels {
    margin-bottom: 0;
}
.nameProjectView {
    background: #58bcff;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-size: 18px;
}
.nameProjectView p {
    margin: 0;
}
.descriptionView {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.dateView {
    background: #58bcff;
    text-align: center;
    padding:0 5px 8px 5px;
    border-radius: 4px;
    width: 140px;
    margin: 15px;
    float: left;
}
.dateView label, .dateView p {
    color: #fff!important;
}
.nameBoxView {
    background: #58bcff;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: "OpenSansBold", Helvetica, Arial, sans-serif;
    width: 100%
}
.nameBoxView p {
    margin: 0;
}
.borderContent {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.viewProject .agrupador .textoDestacado, .viewProject .agrupador .prioridadContent p, .formEstado .textoDestacado {
    font-size: 20px;
    color: #52bbff;
}
.prioridadContent {
    background: #e0e0e0;
    border-radius: 4px;
    border: 1px solid #cacaca;
    padding: 15px;
    text-align: center;
    margin-top: 15px;
}
.contentFlex {
    display: flex;
}
.contentFlex .agrupador {
    width: 100%;
}
.firstContent {
    padding-top: 0;
}
.secondContent .agrupador {
    min-height: 141px;
}
.contentFlexRow {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}
.contentFlexBg {
    background: whitesmoke;
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.viewProject .textoDestacado .glyphicon-usd {
    font-size: 14px;
    color: #52bbff;
    top: 8px !important;
}


/*tabs*/

.nav-tabs {
    background: #e8e8e8;
    border-bottom: 1px solid #cecece!important;
    -webkit-box-shadow: inset 0px -10px 0px -4px rgba(227, 227, 227, 1);
    -moz-box-shadow: inset 0px -10px 0px -4px rgba(227, 227, 227, 1);
    box-shadow: inset 0px -10px 0px -4px rgb(222, 222, 222);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-color: #e8e8e8 #e8e8e8 transparent!important;
}
.tab-content .contentFormProyect {
    border-top: 2px solid #fff;
}
#projectFormID .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    text-decoration: none;
    background-color: #e5e5e5;
    color: #888;
    border-color: #d6d6d6!important;
    border-bottom: none;
}
.uib-tab a {
    text-transform: uppercase;
    color: #6c6c6c;
    font-size: 12px;
}
.contentDetailProject #buttonFile.btn-default, #buttonObra.btn-default, #buttonHito.btn-default {
    padding: 15px 15px 0 0;
}
.formProgressTitle {
    color: #b3b3b3;
    font-size: 14px;
    text-align: center;
}
.agrupador .tableContentForm .btn-default i {
    font-size: 14px!important;
}
.actionHito{
    cursor: pointer;
}
.columnAction {
   width: 74px;
}
.inputSubHito{
    width: 90% !important;
    float: right;
}
.icSubHito{
    float: right!important;
    margin-top: 14px!important;
}
.tableHitos td{
    vertical-align: middle!important;
}
.tableHitos .thirdLabel .icEdit {
    display: inline-block;
    top: inherit;
    position: absolute;
    float: right;
}
.tableHitos li a {
    cursor: pointer;
}
.icEdit.editIndicadores{
    top: 5px;
}
.icPesoRelativo{
    float: left;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 5px;
}
.inputPesoRelativo{
    width: 80px!important;
    float: left;
}
.estadoIndicadores{
    /*padding: 0 15px;*/
    float: left;
}
.columIndicadores{
    float: left;
    width: 125px;
}

/*Modal detalle obra*/

.modal-dialog.modalDetalleInfo {
    width: 1000px;
}
.modalDetalleInfo table, .tableContentForm {
    margin-bottom: 0;
    background: #fff;
    border: 1px solid #ccc;
}
.modal-dialog.modalDetalleInfo .table-responsive {
    min-height: .01%;
    overflow-x: inherit;
}
.modalDetalleInfo td, .tableContentForm td {
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
}
.modalDetalleInfo thead, .tableContentForm thead {
    background: #e6e6e6;
}
.gridContent {
    overflow-x: inherit!important;
}
.modalDetalleInfo .radio {
    margin: 0;
}
.modalDetalleInfo .glyphicon-remove {
    top: 30px;
}

.modalDetalleInfo .glyphicon-expediente {
    top: -3px;
}

.refItem p {
    font-weight: bold;
    font-size: 16px;
}
.refItem .glyphicon-ok-sign {
    float: right;
    color: #00a298;
}
.refItem .glyphicon-exclamation-sign {
    float: right;
    color: #c3c3c3;
}
.refItem .ic-title {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
}
.refItem .ic-title.ic-modal-info {
    background-image: url(../ic-modal-info.png);
}
.refItem .ic-title.ic-modal-fechas {
    background-image: url(../ic-modal-fechas.png);
}
.refItem .ic-title.ic-modal-presupuesto {
    background-image: url(../ic-modal-presupuesto.png);
}
.refItem .ic-title.ic-modal-ubicacion {
    background-image: url(../ic-modal-ubicacion.png);
}
.refItem .ic-title.ic-modal-expediente {
    background-image: url(../ic-modal-expediente.png);
}
.refItem .ic-title.ic-modal-fuente {
    background-image: url(../ic-modal-fuente.png);
}
.refItem .ic-title.ic-modal-relacionar {
    background-image: url(../ic-modal-relacionar.png);
}
.refItem .ic-title.ic-modal-meta {
    background-image: url(../ic-modal-meta.png);
}
.refItem li {
    margin: 15px 0;
}
.iconTable {
    text-align: center;
    vertical-align: middle!important;
}
.iconTable .glyphicon-remove {
    top: inherit;
}
.linkModal {
    text-decoration: none;
    color: #333;
}
.linkModal:hover {
    text-decoration: none;
}
.nameLinkModal, .nameLinkModal:hover {
    color: #52bbff;
    text-decoration: none;
}

/*Tablas excel*/

.obraTitle {
    margin-left: 5px;
}

.obraHitoTitle {
    margin-left: 30px;
}

#curva1, #tipodegasto1 {}
.tablacurvainversion {
    border: 1px solid green;
    background: #f5f5f5;
    width: 262px;
    height: 674px;
}
.handsontable {
    font: 13px sans-serif;
}

/* All headers */

.handsontable th {
    background-color: #e6e6e6;
}

/* Row headers */

.ht_clone_left th {
    background-color: #e6e6e6;
}

/* Column headers */

.ht_clone_top th {
    background-color: #e6e6e6;
}
.handsontable .wtHider {
    max-height: 100%!important;
    height: auto!important;
    color: #333;
}
.handsontable .current.area.highlight {
    background-color: #f3f3f3!important;
}



/*Mapa*/
.modalDetalleInfo .olMap{
    /*height: 250px!important;*/
    width: 100%!important;
}

/*Indicadores*/
.totalGridIndicadores{
    background: #cccccc;
    color: #000;
    font-size: 14px;
    text-align: right;
    padding: 15px;
    max-width: 1262px;
}
.totalGridIndicadores span{
    font-weight: bold;
}
.ic-ascendente {
    background-image: url(../ic-ascendente.png);
    width: 32px;
    height: 20px;
    float: right;
}
.ic-descendente {
    background-image: url(../ic-descendente.png);
    width: 32px;
    height: 20px;
    float: right;
}
.totalMeta{
    text-align: right;
}
.ic-btn{
    background-image: url(../ic-varita.png);
    width: 28px;
    height: 28px;
    float: left;
}
.btn-link.btn-meta{
    color:#52bbff;
    text-align: left;
    padding: 0;
}
.btn-link.btn-meta:hover{
    color:#52bbff;
}
.item-meta label{
    margin-bottom: 10px!important;
}

/*MEDIA QUERY*/

@media (min-width: 1280px) {
    .columnRight {
        /*max-width: 600px;*/
        max-width: 65%;
    }
}
@media (min-width: 1680px) {
    .columnRight {
        max-width: 75%;
    }
}

@media (max-width: 1700px) {
    .gridResponsive {
        clear: left;
    }
}
@media (max-width: 1024px) {
    .alert-success button {
        float: left;
        margin-top: 5px;
    }
    .container.contentApp, .pageContanerCustom .item, .jumbotron .containerTop {
        width: 90vw!important;
    }
    .navbar-form.navbar-right {
        float: left!important;
        clear: left;
        margin: 0;
        padding: 15px 0;
    }
    .floatContent {
        float: left;
        width: 100%;
    }
    .navbar .separador {
        display: none;
    }
    excelbutton {
        float: left;
        padding-top: 15px;
    }
    .contentUploadBtn {
        width: 100%
    }
    .contentUploadBtn .btn-success {
        float: left;
    }
    .contentUploadBtn .btn-default {
        float: right!important;
    }
    .columnRight {
        max-width: 350px;
    }
}
@media (max-width: 990px) {
    .alert-warning {
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    .default-page, .default-content {
        float: left;
        width: 100%;
    }
    .content-first-btn, .content-first-btn .btn-default {
        float: left;
    }
    hr {
        float: left;
        width: 100%;
    }
    .box-date {
        float: left;
        width: 100%;
    }
    .uploadImport .box-date {
        width: 100%;
    }
    .box-date .date {
        padding-top: 0;
        padding-left: 10px;
    }
    .titleMobile {
        font-size: 12px;
        color: #52bbff;
        display: block;
        float: left;
        clear: left;
        text-transform: uppercase;
    }
    .contentUploadImport {
        width: 100%;
    }
    .contentDate .title {
        display: none;
    }
    .titleMobile.estado {
        top: 6px;
        position: relative;
        margin-right: 10px;
    }
    .columnRight {
        width: 100%;
        max-width: 100%;
    }
    .modal-dialog.modalDetalleInfo {
        max-width: 600px;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .title-total, .totalPresupuesto {
        text-align: left;
    }
    .content-actionForm {
        float: none;
    }
    .inputPresupuesto-monto {
        padding-right: 0;
    }
    .option {
        clear: left;
        width: 100%;
        margin-bottom: 10px!important;
    }
    .radio, .checkbox {
        position: relative;
        display: block;
        margin-top: 0;
        margin-bottom: 0;
    }
    .content-button button {
        float: left;
        margin: 15px 0;
    }
    .contentDate {
        display: none;
    }
    .btn-item {
        text-align: left;
    }
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
    .agrupador .glyphicon-usd {
        left: 0;
    }
    .glyphicon-usd {
        left: 15px;
    }
    .viewProject .glyphicon-usd {
        left: 0;
    }
    .contentAction {
        margin-bottom: 20px;
    }
    .contentEje input[type=checkbox]+label {
        width: 116px!important;
    }
    .contentTotal .totalPresupuesto {
        text-align: right;
        padding-right: 0;
    }
    .contentTotal .glyphicon-usd {
        left: 15px;
    }
    .colorObjOperativo {
        float: left;
    }
}
@media screen and (min-width: 768px) {
    .jumbotron h1, .jumbotron .h1 {
        font-size: 35px !important;
    }
}

#OpenLayers_Control_PanZoomBarUSIG_5{
    display: none;
}
