<div id="errorModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="errorCtrl.hide()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ups!</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="errorCtrl.hide()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
